ux-dialog-container.cms-edit-modal-container.create-menu, 
ux-dialog-container.cms-edit-modal-container.add-menu-item, 
ux-dialog-container.cms-edit-modal-container.duplicate-menu {
    max-width: 560px;
    max-height: 100%;
    ai-dialog-body {
        max-height: 289px !important;
    }
    .cms-create-menu-mgr, .cms-create-menu-item-mgr {
        max-height: 450px;
        ai-dialog-header {
            background-color: #43515c;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2.modal-title {
                color: #ffffff !important;
                font-size: 18px !important;
                width: 100%;
            }
        }
        ai-dialog-body {
            max-height: inherit !important;
            overflow: overlay;
            .inner-page-container {
                padding: 16px;
                height: auto;
                min-height: auto;
                .form-group .form-label{
                    margin-bottom: 4px;
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 16px;
                    letter-spacing: 0.25px;
                    color: #8ea4b0;;
                }
                .helper-text{
                    display: inline-block;
                    margin: 0 0 12px;
                    font-size: 12px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 16px;
                    letter-spacing: 0.24px;
                    color: #8ea4b0;
                }
                .input-group, .form-group {
                    display: block;
                    position: relative;
                    input {
                        height: 40px;
                        border-radius: 2px;
                        border: solid 1px #c5d6e6;
                        background-color: #ffffff;
                        float: none;
                        &[disabled] {
                            background: #e8eff5;
                        }
                    }
                }
                .custom-select .btn.default-button{
                    min-height: 40px;
                    height: 40px;
                    text-align: left;
                    color: #b0bdc6;
                    .seleted-options {
                        padding: 0;
                        margin: 0;
                        color: #43515c;
                    }
                }
            }
        }
        ai-dialog-footer .action-btn-group{
            margin: 12px 0;
            .btn{
                @include borderRadius(3px);
                min-width: 96px;
                &.default-button{
                    border: none;
                    color: #464F5E;
                    &.htr {
                        border: 1px solid #2927B2;
                        margin-right: 14px;
                    }
                }
            }
        }
    }
    .cms-create-menu-mgr{
        .form-group{
            margin-bottom: 32px;
        }
        .light-text-color{
            color: #778998;
        }
        .input-group-addon{
            background: transparent;
            min-width: 75px;
        
        .form-group{
            label{
                margin-bottom: $space-md;
                color: $text-color-heading;
                font-size: 12px;
            }
        }
        .form-group{
            .input-group{
                width: 496px;
                height: 40px;
                margin-left: 32px;
            }
        }
        .action-btn-group{
            margin-right: 24px;
            margin-top: 23px; 
            padding: $space-md;
            .btn{
                padding: 12px 50px;
                font-size: 18px; 
                @include borderRadius(3px);   
                &.default-button{
                    border: none;
                }
            }
        }
    }
}

}