@import "./../../variable.scss";
.angular-module {
  .dropdown {
    padding: 0 !important;
  }
  div[appinfinitescroll] {
    &.overflow-y-auto {
      // Override styles here
      overflow-y: scroll; // Example of overriding the overflow property
      height: calc(100vh - 48px); // Example of setting a max-height
      // Add any additional styles you need
    }
  }
}
ul#spotlight-list {
  list-style-type: none;
  padding: 0px;
}
.page {
  margin-top: 0px !important;
}
#paginationList {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#crmUITxtNavigationPageLeftArrow {
  position: initial !important;
}
.email-templates-page .campaign-footter {
  position: absolute !important;
}
// after drag and drop back and cancel buttons are breaking -> events
.sidebar-open-style,
.action-bar {
  left: inherit !important;
  width: 25% !important;
}
.sidebar-closed-style {
  left: 55px !important;
  width: 28.7% !important;
}

// automation details header
.automation-details-header {
  top: 0px !important;
}

.sidebar-header-closed-style {
  left: 56px !important;
  right: 10px !important;
}
.sidebar-header-open-style,
.close-facet-serach .data-details.list-cntr .header-list-cntr {
  left: 286px !important;
  right: 10px !important;
}
.cmp-sub-header {
  // Targeting .text-2xl inside .cmp-sub-header
  .text-2xl {
    font-family: $font-family;
    font-size: 20px;
    color: $color-18;
    line-height: 30px;
    font-weight: 600;
  }
}
.cmp-knowledge-base {
  .flex-col {
    .py-4{
      padding: 32px 32px 0px;
    }
    .px-5{
      // Custom padding for this element
      padding: 32px 32px 0px;
    }
  }
}
