.angular-module {
  .dropdown {
    padding: 0 !important;
  }
  div[appinfinitescroll] {
    &.overflow-y-auto {
      // Override styles here
      overflow-y: scroll; // Example of overriding the overflow property
      height: calc(100vh - 48px); // Example of setting a max-height
      // Add any additional styles you need
    }
  }
}
ul#spotlight-list {
  list-style-type: none;
  padding: 0px;
}
.page {
  margin-top: 0px !important;
}
#paginationList {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#crmUITxtNavigationPageLeftArrow {
  position: initial !important;
}
.crm-module {
  /* Reset css styles start */
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  ::before,
  ::after {
    box-sizing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
  }

  hr {
    overflow: visible;
    /* Show the overflow in Edge and IE */
  }

  /*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  summary {
    display: list-item;
    /* Add the correct display in all browsers */
  }

  button,
  input,
  select,
  textarea,
  fieldset {
    color: inherit;
    background-color: transparent;
    border-style: none;
  }

  progress {
    vertical-align: baseline;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* Internet Explorer 11+, Windows Phone 8.1+ */
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden] {
    display: none !important;
  }
  .main-loader {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .main-loader img {
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .small-screen-error {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .small-screen-details {
    color: var(--N400);
    font-size: 20px;
    width: 100%;
  }

  .error-image {
    margin: 50px 0px;
    height: 300px;
    background: url(assets/images/small-screen-mobile-error.jpg) no-repeat
      center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promotion-content {
    padding: 0 30px;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    font-family: "PoppinsRegular", Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: var(--N400);
    gap: 10px;
    margin-top: 30px;
    .internal-link {
      color: var(--B100);
    }
  }

  .loading-screen-error-text {
    color: var(--N400);
    padding: 0 30px;
    font-family: "PoppinsRegular", Arial, Helvetica, sans-serif;
  }
  .ie-screen-error-text {
    font-family: "PoppinsRegular", Arial, Helvetica, sans-serif;
  }
  @media not print {
    @media only all and (max-width: 1023px) {
      .main-loader {
        display: none;
      }
      .small-screen-error {
        display: block;
        position: fixed;
        z-index: 999999;
        width: 100%;
        height: 100%;
        top: 0;
        background: var(--PDS_white);
        left: 0;
      }
      .small-screen-error .ie-screen-error-text {
        display: none;
      }
    }
  }
}
