.angular-module {
  .dropdown {
    padding: 0 !important;
  }
  div[appinfinitescroll] {
    &.overflow-y-auto {
      // Override styles here
      overflow-y: scroll; // Example of overriding the overflow property
      height: calc(100vh - 48px); // Example of setting a max-height
      // Add any additional styles you need
    }
  }
}
ul#spotlight-list {
  list-style-type: none;
  padding: 0px;
}
.page {
  margin-top: 0px !important;
}
#paginationList {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#crmUITxtNavigationPageLeftArrow {
  position: initial !important;
}
.campaign-footter {
  position: absolute !important;
}
// after drag and drop back and cancel buttons are breaking -> events
.txe-side-bar-open {
  left: 286px;
  width: 337px;
}
// automation details header
.automation-details-header {
  top: 0px;
}
