// TODO: Import again
// Status: Done
@import "./public/caas-web-assets/assets/caas-scss/main.scss";

/*
*** scrollbar css
*/
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: #d8d8d8;
    background-color: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 249, 251);
  }

  .switch-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
  
      &:checked + .slider {
        background-color: #00a8b6;
      }
  
      &:focus + .slider {
        box-shadow: 0 0 1px #00a8b6;
      }
  
      &:checked + .slider:before {
        background-color: #fff;
        left: -8px;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
  
      &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        bottom: 3px;
        left: 3px;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
  
    .slider.round:before {
      border-radius: 50%;
    }
  }

  .span-validator{
    color: red !important;
    font-size: 13px;
  }
  