.padding-2 {
    padding: 2px;
  }
  
  .padding-20 {
    padding: 20px;
  }
  .padding-l-20 {
    padding-left: 20px;
  }
  
  .padding-r-30 {
    padding-right: 30px;
  }
  
  .position-r {
    position: relative;
  }
  
  .margin-r-5 {
    margin-right: 5px;
  }
  
  .margin-t-25 {
    margin-top: 25px;
  }
  .w-30 {
    width: 30%;
  }
  
  .h-100vh {
    height: 100vh;
  }
  
  .float-r {
    float: right;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .disabled-options {
    pointer-events: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-confirmation {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color:white !important;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .btn-cancel {
    // border-color: $primary-color !important;
    // color: $primary-color !important ;
    &:hover {
      background-color: white !important;
      color: rgb(41, 39, 178) !important ;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .colour-primary {
    color: $primary-color !important ;
  }
  