$color-1: #01b2c0;
$color-2: #5a6872;
$color-3: #8c9ba5;
$color-4: #152935;
$color-5: #ffffff;
$color-6: #dfe3e6;
$color-7: #fafcfd;

$color-8: #e67b00;
$color-9: #f4731d;
$color-10: #8d1f70;
$color-11: #3f79bc;
$color-12: #00b88b;
$color-13: #b0e8ed;
$color-7: #fafcfd;
$color-9: #6d7a82;
$color-17: #6d7a82;
$color-18: #464f5e;
$color-19: #637085;

$color-14: rgba(61, 112, 178, 0.1);
$color-15: rgba(255, 171, 0, 0.08);
$color-16: rgba(18, 26, 28, 0.07);

$color-20: #aeb5c2;
$color-21: #353b46;
$color-22: #36b37e;
$color-23: #c40f24;
$color-24: #fcd9dd;
$color-25: #f0f0f0;
$color-26: #9383fe;
$color-27: #4b6479;
$color-28: #3c6d68;
$color-29: #eaecee;
$color-30: #2927b2;
$color-31: #f8f9fb;
$color-32: #dee2e6;
$color-33: #f3f3f3;
$color-34: #f2fafb;
$color-35: #e9ebed;
$color-36: #7e828a;
$color-37: #f5f5f5;
$color-38: #d3d3d3;
$color-39: #ededed;
$color-40: #00000033;
$border-color-1: #d1d5dc;
$hover-color-1: #f1f3f4;
$color-41: #e8eaee;
$color-42:#999;

$primary-color: #00838f;
$secondary-color: #29abb9;
$tertiary-color: #f6f7f9;
$text-primary-color: #5a6872;
$text-secondary-color: #8c9ba5;

$background-color: #1c1876;
$background-color1: #eae8fb;

$box-shadow: rgba(18, 26, 28, 0.0737092);
$box-shadow1: rgba(0, 0, 0, 0.12);
$box-shadow2: rgba(53, 59, 70, 0.4), 0px 0px 4px 0px rgba(53, 59, 70, 0.3);
$box-shadow3: rgba(245, 247, 250, 0.5);

$font-family: "Poppins", sans-serif;
$font-family-bold: "Poppins-SemiBold";

$font-size-1: 24px;
$font-size-2: 16px;
$font-size-3: 14px;
$font-size-4: 12px;
$font-size-5: 13px;
$font-size-6: 18px;
$font-size-7: 20px;
