@font-face {
  font-family: "ProximaNova";
  src: url("./ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-SemiBold";
  src: url("./ProximaNova-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
}
