
	.template-creation-container{
		margin-top: 8%;		
		width: 100%;
		.modal-title{
			.icon{
				cursor: pointer;
			}
		}
		.steps-block{
			margin-left: -15px;
			margin-right: -15px;
			@include stepsBlockClass();
		}
		.file-upload{
			position: relative;
			cursor: pointer;
			input[type="file"]{
				opacity: 0;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.template-creatation-form{
			padding: 15px 0px;
			.upload-zip-step{
				border: 1px dashed $modal-border-color-primary;
				padding: 35px 15px 40px;
				font-size: $text-font-size-16;
				min-height: 300px;
				@include borderRadius(3px);
				&.file-hover{
					background-color: rgba(0,0,0,0.1);
				}
				&.active{
					.upload-info{
						display: none;
					}
					.upload-process{
						display: block;
					}
				}			
				.upload-info{
					h3{
						margin: 0 0 20px;
					}
					.upload-instructions{
						margin-left: 15px;
						margin-top: 15px;
						li{
							list-style-type: disc;
						}
					}				
				}
				.upload-process{
					display: none;
					padding-top: 6%;
					width: 65%;
					margin: 10px auto;
					text-align: center;
				}
			}
			.validation-step{
				border: 1px dashed $modal-border-color-primary;
				@include borderRadius(3px);
				padding: 25px 35px 15px;
				overflow: hidden;
				.icon{
					font-size: 56px;
					float: left;
					padding-right: 30px;					
				}
				.validation-progress{		
					float: left;
					width: 80%;			
					.file-name{
						font-size: $heading-font-size-h2;
						margin: 0 0 5px;
					}
					.file-size{
						font-size: $text-font-size-16;
					}
					.progress{
						width: 80%;
						margin-bottom: 0;
					}					
				}
				.close{
					float: right;
					.icon{
						font-size: 36px;
						padding: 15px 0 0;
					}
				}
				.valid-error{
					clear: both;
					text-align: center;
					color: $text-color-danger;
				}
			}
			.template-details-step{
				padding: 25px 0px 15px;
				.template-tags{
					.btn-default{
						margin-top: 15px;
						min-width: 80px;
						padding: 5px 10px;
						text-align: left;
						color: $text-color-default;
						.icon{
							float: right;							
						}
					}
				}
				.drop-down-block{
					.drag-drop-area{
						border: 1px dashed $modal-border-color-primary;
						@include borderRadius(3px);
						padding: 25%  0;
						width: 85%;
						text-align: center;
						margin-bottom: 10px;
						.icon{
							font-size: 36px;
							font-weight: bold;
							text-align: center; 
						}
					}
					.plain-button{
						width: 150px;
						display: inline-block;
						cursor: pointer;
					}
				}
			}
		}
	}
	.cms-template-submit-loader-manager{
		.modal-content{
			background-color: transparent;
			@include box-shadow(none);
			border: 0; 
		}
		.modal-body{			
			.ajax-loader{
				position: relative;
				padding: 5px;
				img{
					position: absolute;
					top: 0;
					bottom: 0;
					margin: 80% auto;
					height: 50px;
					left: 0;
					right: 0;
					background-color: rgba(0,0,0,0.8);
					padding: 5px;
					@include borderRadius(3px);
				}
			}
		}
	}