.cms-caas-page,.cms-caas-link-model {
    h3 span i {
        font-size: 14px;
        position: relative;
        top: 1px;
        padding-right: 0px;
    }

    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
    }
}