.cms-caas-view-model {
    .ph-code-editor {
        height: 500px;
    }

    .bg-selected {
        background-color: #ECF0F1;
    }

    .cms-caas-model-manage {
        width: 800px;
    }

    .custom-select .seleted-options,

    .cms-caas-view-model {
        width: 700px;
    }

    .inner-page-container {
        padding: 10px 3% 80px;
        margin: 0 auto;
        min-height: 350px;
    }

    .selected-tab {
        color: blue;
    }

    .cms-caas-tags {
        text-transform: capitalize;
    }

    .cms-view-model-details {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}