ux-dialog-container.cms-edit-modal-container.add-menu-item{
    max-width: 560px;
    ai-dialog-body {
        // max-height: 233px !important;
        // overflow-y: hidden;
    }
    .cms-create-menu-item-mgr {
        ai-dialog-header {
            background-color: #43515c;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 64px;
            padding: 16px !important;
            h2.modal-title {
                color: #ffffff !important;
                font-size: 18px !important;
            }
        }

        ai-dialog-body {
            .inner-page-container {
                .menu-iem-form{
                    width: 100%;
                }
                .text-shared{
                    margin-bottom: 15px;
                    height: 48px;
                    width: 475px;
                    border-radius: 3px;
                    background-color: #F9F9FF;
                    display: flex;
                    align-items: center;
                    padding: 21px 16px;
                    .icon-image {
                        height: 24px;
                        width: 24px;
                        position: relative;
                        margin-right: 8px;
                    }
                    .detail {
                        width: 560px;
                        font-size: 12px;
                        font-family: ProximaNova Semibold;
                        color: #686869;
                        display: inline-block;
                        line-height: 1.14;
                    }
                }
                .form-group .link-to-search{
                    width: 350px;
                }
                .form-label{
                    margin-bottom: 4px;
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 16px;
                    letter-spacing: 0.25px;
                    color: #8ea4b0;;
                }
                .helper-text{
                    display: inline-block;
                    margin: 0 0 12px;
                    font-size: 12px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 16px;
                    letter-spacing: 0.24px;
                    color: #8ea4b0;
                }
                .input-group{
                    display: block;
                    position: relative;
                    input {
                        height: 40px;
                        border-radius: 2px;
                        border: solid 1px #c5d6e6;
                        background-color: #ffffff;
                        float: none;
                    }
                }
                .custom-select .btn.default-button{
                    min-height: 40px;
                    height: 40px;
                    text-align: left;
                    color: #b0bdc6;
                    .seleted-options {
                        padding: 0;
                        margin: 0;
                        color: #43515c;
                    }
                }
            }
        }
        ai-dialog-footer .action-btn-group{
            .btn{
                @include borderRadius(3px);   
                &.default-button{
                    border: none;
                    color: #464F5E;
                }
            }
        }
    }
    .cms-create-menu-mgr{
        // .custom-select.open .btn.default-button,
        // .custom-select .btn.default-button{
        //     height: 42px;
        //     padding: 0;
        //     min-height: 42px;
        // }
        .form-group{
            margin-bottom: 35px;
        }
        .light-text-color{
            color: #778998;
        }
        .input-group-addon{
            background: transparent;
            min-width: 75px;
        
        .form-group{
            label{
                margin-bottom: $space-md;
                color: $text-color-heading;
                font-size: 12px;
            }
        }
        .form-group{
            .input-group{
                width: 496px;
                height: 40px;
                margin-left: 32px;
            }
        }
        .action-btn-group{
            .btn{
                padding: 12px 50px;
                font-size: 18px; 
                @include borderRadius(3px);   
                &.default-button{
                    border: none;
                }
            }
        }
    }
}

}