.cms-media-assets-mgr{

	.upload-section{
		width: 70%;
		margin: 0 auto;
	}
	.back-to-details{
        color: $text-color-default;
    }
}


.asset-details{
	margin: 5% auto;
	width: 70%;
	.detail-block{
		display: table;
		width: 100%;
		.img-view{
			display: table-cell;
			vertical-align: top;
			width: 35%;
			padding-right: 25px;
			figure{
				height: 125px;
				.icon{
					font-size: 125px;
					vertical-align: top;
				}
				img{
					max-height: 125px;	
				}
			}
			a{
				text-decoration: underline;
				color: $text-color-default;
				&:hover{
					color: $text-color-special;
				}
			}
		}
		.img-details{
			display: table-cell;
			vertical-align: top;
			.action-btn-group{
				text-align: right;
				.btn{
					min-width: 35%;
				}
			}
		}
	}
}

.top-video-link {
	margin-bottom: 0;
	&.form-group input {
	  margin-bottom: 0;
	}
  }
  
  .dropzone .dz-message.imagedrop {
	margin-top: 0;
  }

ai-dialog {
	border: none;
	&.cms-delete-media-assets-mgr{
		min-width: 65%;	
		width: 65%;
		.action-btn-group{
			margin-top: 20px;
			text-align: right;
		}
	}
}
ux-dialog-container.cms-edit-videomodal-container > div {
    padding: 0 !important;
}
.cms-media-assetsv2-mgr{
    width: 510px;
    min-width: 510px;
    heigth: 405px;
    min-heigth: 405px;
    ai-dialog-header {
	background-color: #00a8b7;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 52px;
    }

    .asset-details{
	margin: 5% auto;
	width: 70%;
	.detail-block{
	    display: table;
	    width: 100%;
	    .img-view{
		display: table-cell;
		vertical-align: top;
		width: 35%;
		padding-right: 25px;
		figure{
		    height: 125px;
		    .icon{
			font-size: 125px;
			vertical-align: top;
		    }
		    img{
			max-height: 125px;	
		    }
		}
		a{
		    text-decoration: underline;
		    color: $text-color-default;
		    &:hover{
			color: $text-color-special;
		    }
		}
	    }
	    .img-details{
		display: table-cell;
		vertical-align: top;
		.action-btn-group{
		    text-align: right;
		    .btn{
			min-width: 35%;
		    }
		}
	    }
	}
    }
    .modal-title {
	font-size: 18px;
	color: white;
    }
    .upload-section .image-upload {
	color: #6d8283;
	border: none;
	padding: 0px;
	h3 {
	    color: #6d8283;
	    font-size: 21px;

	}
	.file-upload {
	    color: #00a8b7;
	    text-decoration: none;
	}
    }
}	
