.clone-template-site-modal{
    .panel-heading {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    }
    .template-list-group-item-heading	{
    }
    .template-list-group-item {
	position: relative;
	display: block;
	// padding-right: 5px;
	margin: 7px;
	background-color: #fff;
	border: 1px solid #ddd;
	&.active {
	    color: #fff;
	    background-color: whitesmoke;
	    border-color: #337ab7;	
	}

	.clone-checkbox-icon {
	    width: 20px;
	    height: 26px;
	    display: inline-block;
	    background-color: whitesmoke;
	    i.icon {
		font-size: 20px;
		position: relative;
		top: 0px;
		left: 2px;
		color: #d6d3d3;
		&.active {
		    color: #337ab7;
		}
	    }
	}
    }

    // &:first-child {
    // 	border-top-right-radius: 4px;
    // 	border-top-left-radius: 4px;
    // }



}
