.cms-edit-modal-container{
	
	ai-dialog-header{

	}
	ai-dialog-body{

	}
	ai-dialog-footer{

	}
	.cms-site-mgr{
		min-width: 320px;
		/* width: 50%; */
		.site-creation{
			.nav-tabs{
			    margin-bottom: 30px;
			    border: 0;
			    & > li{
			        a{
			         border: 0;
			         padding-bottom: 5px;
			         background-color: #eeeeee;
			         color: $text-color-default;   
			         min-width: 150px;
			         font-size: $text-font-size-16;
			         border-bottom: 2px solid #eeeeee;
			         text-align: center;
			         margin-right: 8px;
			         }
			         &.active{
			            a{
			                border-bottom: 2px solid $brand-color;   
			                background-color: #ffffff;   
			                color: $brand-color;
			            }
			        }
			    }
			}
			.upload-section,
			.template-flow-section{
				width: 70%;
				margin: 5% auto;
			}
			.template-flow-section{

			}
		}
	}
	.cms-site-settings-mgr,
	.cms-site-info-mgr{
		min-width: 320px;
		/*width: 65%;*/
		.site-creation{
			.icon{
				
			}
		}
		.upload-section{
			width: 70%;
			margin: 5% auto;
		}
	}
	.cms-site-info-mgr{
		margin-top: 10%;
		h2{
			margin: 0 auto;
			span{
				text-align: left;
			}
		}
	}
}