.cms-site-settings-mgr{
    .form-group{
        display: table;
        width: 100%;
        label{
            display: table-cell;
            white-space: nowrap;
            max-width: 100%;
        }
        .preview-image{
            max-height: 150px;
            margin-top: $space-sm;
        }
        .btn-group{
            white-space: nowrap;
            display: table-cell;
            width: 100px;
            padding-left: $space-md;
            vertical-align: bottom;
            z-index: 0;
            .btn{
                min-width: 40px;
                display: inline-block;
            }
        }
        .viewport-tag-break{
            display: block;
            margin-bottom: 10px;
            white-space: normal;
            .radio{
                float: left;
                width: 16px;
                height: 16px;
            }
            .radio-button-content{
                padding-left: 26px;
                display: block;
            }
        }
    }
    .file-upload-ctr{
        text-align: center;
        .back-to-view{
            text-align: right;
            display: block;
        }
        .alert-danger{
            display: inline-block;
        }
    }
    .file-upload-info{
        span{
            padding: 0 8px;
        }
    }
}