.cms-site-page {
	.thumbnail-block {
		@include siteThumbnailView();

		.thumbnail-details {
			.thumbnail-name {
				width: 83%;
				border-left: 1px solid transparent;
			}

			.thumbnail-settings-action,
			.thumbnail-status {
				width: 17%;
			}

			&.refresh-site {
				a {
					width: 17%;

					&.thumbnail-status {
						.icon {
							color: $text-color-light;
						}
					}
				}

				.thumbnail-name {
					width: 66%;
					border-left: 1px solid $border-color-default;
				}
			}
		}
	}
}

.cms-site-page {
	.btn {
		float: left;
	}

	.cms-site-create-site-dropdown {
		position: absolute;
		top: 37px;
		left: -51px;
		min-width: auto;
	}

	.site-actions {
		float: right;
		margin-left: 10px;
		position: relative;

		:after {
			content: "";
			position: absolute;
			bottom: -12px;
			background-color: transparent;
			left: 0;
			right: 0;
			height: 12px;
		}

		& > .icon {
			font-size: 20px;
			cursor: pointer;
			display: block;
			padding: 5px 10px;
			line-height: normal;
		}

		ul {
			display: none;
			padding: 0;
			left: auto;
			@include borderRadius(0);
			box-shadow: none;
			right: -3px;
			margin-top: 12px;

			&:before {
				content: "";
				border-right: 7px solid transparent;
				border-left: 7px solid transparent;
				border-bottom: 7px solid #ccc;
				position: absolute;
				right: -1px;
				top: -7px;
			}

			li {
				display: block;

				.icon {
					font-size: 16px;
					padding-right: 10px;
				}

				a {
					padding: 5px 10px;
					color: $text-color-default;
					font-size: 16px;

					&:focus,
					&:hover {
						color: $text-color-special;
					}
				}
			}
		}

		&:hover {
			ul {
				display: block;
			}

			& > .icon {
				background-color: #f5f5f5;
			}
		}
	}

	.cms-site-home-container {
		.site-state {
			display: none;
		}

		.site-inactive {
			@include opacity(0.8);
			cursor: not-allowed;
			pointer-events: none;

			.site-state {
				display: block;
				position: absolute;
				top: 45%;
				left: 0;
				right: 0;
				max-width: 150px;
				margin: 0 auto;
			}
		}

		.page-nav {
			&::after {
				content: "";
				display: table;
				clear: both;
			}

			.page-index-info,
			.pagination {
				float: left;
			}

			.page-index-info {
				padding-top: $space-sm;
				padding-right: $space-lg;
			}

			.pagination {
				margin: 0;

				& > .active > a,
				& > .active > a:focus,
				& > .active > a:hover {
					background-color: $brand-color;
					border-color: $brand-color-primary;
				}
			}
		}
	}
}

.cms-widget-info-mgr {
	.upload-section {
		max-width: 650px;
		margin: 0 auto;
	}

	.widget-info {
		color: $brand-color;
		font-size: 250px;
		line-height: 250px;
		display: block;
		text-align: center;

		h4 {
			color: $text-color-special;
			padding: 0 0 50px;
			margin: 0;
		}
	}
}

.clone-template-site-modal {
	.clone-template-body-container {
		padding: 30px 5%;
		margin: 0 auto;
		min-height: 350px;
	}

	ai-dialog-header {
		background-color: #00a8b7;
		color: white;

		h2.modal-title {
			color: white !important;
		}
	}

	ai-dialog-footer {
		padding: 5px;
	}

	.thumbnail-block {
		@include siteThumbnailView();
		border: 2px solid #edf3f4;
		border-radius: 8px;
			&.refresh-site {
				a {
					width: 17%;

					&.thumbnail-status {
						.icon {
							color: $text-color-light;
						}
					}
				}

				.thumbnail-name {
					width: 66%;
				}
			}

			.thumbnail-details {
				border: unset;
				.thumbnail-name {
					width: 100%;
					border: unset;
				}

				.thumbnail-settings-action,
				.thumbnail-status {
					width: 17%;
				}
		}
	}

	.thumbnail-view-higlight{
		border: 2px solid #00a8b7;
		border-radius: 8px;
	}
}
