.cms-pages-preview-page {
	.add-page-dialog {
		position: fixed;
		left: $side-navbar-width + $side-sub-navbar-width;
		top: $site-top-navbar-element-min-height;
		z-index: $header-zindex + 15;
		background-color: $bg-color-special-white;
		@include transition(0.25s ease);
		height: calc(100% - #{$site-top-navbar-element-min-height});
		border-right: 1px solid $border-color-primary;
		width: 472px;
		.title {
			background-color: $bg-color-special-secondary;
			font-size: $text-font-size-18;
			padding: 15px 20px;
			padding-left: 35px;
			margin: 0;
			color: $header-text-color-dark;
			.ion-close {
				color: $text-color-heading;
				font-size: $icon-font-size-14;
				line-height: 16px;
			}
			.clear-page-type {
				font-weight: normal;
				cursor: pointer;
				.light-text-color {
					margin-bottom: 0;
					color: $header-text-color-dark;
				}
				.icon {
					color: $header-text-color-dark;
					font-size: 12px;
					@include textStroke(0.2px $header-text-color-dark);
				}
			}
		}
		.template {
			position: relative;
			width: 28%;
			text-align: center;
			border: 1px solid #8fa4af;
			margin: 10px;
			padding: 10px;
			float: left;
			cursor: pointer;
			display: table;
			height: 100px;
			span {
				text-align: center;
				vertical-align: middle;
				display: table-cell;
			}
			&.active {
				background-color: $brand-color;
				border: 1px dashed $brand-color;
				color: #fff;
			}
		}
		.template:nth-of-type(1) {
			margin-left: 0px;
		}
		.template:nth-of-type(3n+1) {
			margin-left: 0px;
		}
		.nav.nav-tabs {
			border-bottom: 1px solid $border-color-primary;
			background-color: $bg-color-special-primary;
			text-align: left;
			&>li {
				margin: 5px 0px -1px 5px;
				float: none;
				display: inline-block;
				&.active {
					a {
						border-bottom: 2px solid #00a9b7;
						color: #00a9b7;
						border-right: 0;
						background-color: #effbfc;
						border-top: 0;
						border-left: 0;
					}
				}
				a {
					cursor: pointer;
					//border: 1px solid $border-color-primary;
					//@include borderRadius(0);
					margin-right: 0;
					color: #838486;
					min-width: 75px;
					text-align: center;
					&:hover {
						border-bottom: 2px solid #00a9b7;
						color: #00a9b7;
						border-right: 0;
						background-color: #effbfc;
						border-top: 0;
						border-left: 0;
					}
				}
			}
			+.tab-content {
				padding: 36px 33px;
				height: 67%;
				overflow-y: overlay;
			}
		}
		.basic-page-settings,
		.edit-page-settings,
		.seo-page-settings {
			width: 775px;
			max-width: 100%; // padding: 30px 5%;
			&.content,
			&.categorypage {
				width: $side-sub-navbar-width;
			}
		}
		.btn, 
		.primary-button{
			position: relative;
			right: 8px;
		}
		.action-btn-group{
			.unpublish-btn{
				position: relative;
				border: none;
				padding: 0;
			}
		}
		.unpublish-page-settings {
			width: 775px;
			max-width: 100%; // padding: 30px 5%;
			&.content,
			&.categorypage {
				width: $side-sub-navbar-width;
			}
			.form-group{
				label{
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.7;
					letter-spacing: normal;
					color: #616161;
				}
				.unpublish-page {
					width: 408px;
					height: 40px;
					opacity: 0.6;
					border-radius: 2px;
					border: solid 1px #c6d6e5;
					color: #90a0ae;
					background-color: #f4fbfc;
				}
				p{
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.43;
					letter-spacing: normal;
					color: #6c7984;
				}
				hr{
					width: 408px;
					padding-bottom: 10px;
				}
				.unpublish-button{
					margin-top: 29px;
					color: #2927B2;
					border: solid 1px #2927B2;
					background-color: white;
					position: relative;
					right: 15px
				}
				.unpublish-button-inactive{
					margin-top: 29px;
					border: solid 1px #e5e5e5;
					background-color: white; 
					color: #d1d1d1;
					position: relative;
					right: 15px;
				}
			}
		}
		.seo-page-new-settings {
			width: 775px;
			max-width: 100%; // padding: 30px 5%;
			&.content,
			&.categorypage {
				width: $side-sub-navbar-width;
			}
			.form-group {
				.seo-settings {
					color : #4a4a4a;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
				}
				.seo-text-settings{
					font-size: 14px;
  					font-weight: normal;
  					font-style: normal;
  					font-stretch: normal;
  					line-height: 1.43;
  					letter-spacing: normal;
  					color: #6c7984;
				}
				.seo-hr-settings{
					margin-bottom: 30px;
    				margin-top: 24px;
					height: 0;
  					border: solid 1px #c6d6e5;
				}
				input,
				textarea{
					margin-bottom: 30px;
					margin-top: 16px;
				}
			}
		}
		.basic-page-settings {
			.page-style {
				h4 {
					padding: 10px 0;
					margin: 20px 0 15px;
					border-bottom: 1px solid $border-color-primary;
				}
				.input-check-group {
					span {
						&.checkbox {
							margin-left: 0;
						}
					}
				}
			}
		}
		.edit-page-settings {
			padding-top: $space-lg * 2;
			.search-tags .search-block {
				padding-bottom: $space-lg;
			}
		}
		.landing-page-details {
			display: block;
			.ion-image {
				font-size: 80px;
				cursor: pointer;
				color: $text-color-lighter;
			}
		}
		.form-group {
			padding-bottom: 4px;
			position: relative;
			.file-upload {
				@include opacity(0);
				position: absolute;
				left: 0;
				top: 0;
			}
			label {
				font-size: $text-font-size-16;
				color: $text-color-heading-new;
				letter-spacing: 0.8px;
				line-height: 1;
				padding-bottom: 10px;
			}
			select,
			input {
				border: solid 1px #c6d6e5;
				height: 40px;
				border-radius: 2px;
				margin-bottom: 7px;
			}
			.label-text {
				color: $text-color-lighter;
				font-size: $text-font-size-small;
				margin-top: 10px;
				.icon {
					font-size: $text-font-size-16;
					display: inline-block;
					transform: rotate(-60deg);
					-webkit-transform: rotate(-60deg);
					-ms-transform: rotate(-60deg);
					-o-transform: rotate(-60deg);
				}
			}
		}
		.choosefilters {
			.custom-select {
				button {
					min-height: 34px;
					text-align: left;
					.seleted-options {
						margin: 0px 0px 0px 0px;
						padding: 0px $space-sm 0 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.seleted-options:not(:first-child) {
						margin: 0px 0px $space-sm 0;
					}
				}
			}
			.multi-select {
				position: relative;
				button {
					min-height: 34px;
					text-align: left;
					width: 100%;
					i.icon {
						top: 32%;
						position: absolute;
						right: 15px;
						float: right;
					}
					&:hover,
					&:focus,
					&:active {
						background-color: #fff;
						border: 1px solid $border-color-special;
						color: $button-default-text-color;
						outline: 0;
					}
				}
				.multi-drop-down {
					display: block;
					margin-top: 0;
					border-top: none;
					border-radius: 0;
					width: 100%;
					.search-input {
						padding: 10px;
						border-bottom: 1px solid #edf3f4;
					}
					ul {
						padding: 10px;
						overflow-y: auto;
						max-height: 150px;
						label {
							font-size: $text-font-size-default;
							line-height: 1.2;
						}
						.input-check-group {
							input[type=checkbox] {
								min-height: 20px;
								height: 20px;
								margin-top: 0;
							}
							.checkbox::before {
								border-color: #fff;
								left: 3px;
								display: inline-block;
							}
							.option-name {
								display: inline-block;
								width: 80%;
							}
							input:checked+.checkbox {
								border: 1px solid $brand-color;
								border: none;
								background: $brand-color;
							}
						}
					}
				}
			}
			.delete-icon {
				a {
					position: relative;
					top: 10px;
				}
			}
		}
		.action-btn-group {
			background-color: #fff;
			border-top: 1px solid $border-color-primary;
			padding: $space-sm 5%;
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
			min-height: $site-top-navbar-element-min-height;
			.cancel {
				border: none;
				box-shadow: none;
				background: transparent;
				&:hover {
					background: transparent;
				}
			}
		}
	}
	.add-page-type-section {
		position: absolute;
		height: 100%;
		overflow-y: auto;
		padding: 36px 33px;
		width: 100%;
		.selection-title {
			color: $text-color-bold;
			font-family: $font-family-primary-bold;
			font-weight: bold;
			font-size: $text-font-size-default;
			border-bottom: 1px solid $border-color-primary;
			margin-top: 0;
			margin-bottom: $space-md * 2;
			padding-bottom: $space-md + $space-sm;
		}
		.know-more {
			color: $text-color-lighter;
			margin-top: $space-md;
			margin-bottom: $space-lg;
			display: block;
		}
	}
	.add-page-ctr.add-page-box {
		position: absolute;
		padding: 36px 33px;
		height: calc(100% - #{$site-top-navbar-element-min-height});
		overflow-y: auto;
		width: 100%;
		.content-page-details,
		.landing-page-details,
		.page-category-details {
			.form-group {
				.custom-select {
					button {
						min-height: 34px;
						text-align: left;
						.seleted-options {
							margin: 0px 0px 0px 0px;
							padding: 0px $space-sm 0 0;
						}
					}
				}
			}
		}
	}
	.page-type-description {
		text-align: center;
		p {
			color: $text-color-heading-new;
			font-size: $text-font-size-small + 1;
			margin-bottom: ($space-lg * 5) / 2;
		}
		.page-type-title {
			font-size: $text-font-size-16;
			margin-bottom: $space-md;
		}
	}
	.page-type-tile {
		padding: 2%;
		text-align: center;
		@include borderRadius(2px);
		display: block;
		border: 1px solid rgba(143, 164, 175, 0.333);
		margin-bottom: $space-md;
		.icon {
			font-size: ($icon-font-size-20 * 4) + 8;
			color: $text-color-default;
			&::before {
				position: relative;
				top: 12px;
			}
		}
	}
}
span.select-adj {
    width: 93%;
    display: inline-block;
}
@media all and (max-width: 992px) {
	.cms-pages-preview-page {
		.add-page-dialog {
			.basic-page-settings,
			.edit-page-settings,
			.seo-page-settings {
				width: $side-sub-navbar-width;
			}
		}
	}
}

@media all and (max-width: 1200px) {
	.cms-pages-preview-page {
		.add-page-dialog {
			.basic-page-settings,
			.seo-page-settings,
			.edit-page-settings {
				width: 575px;
			}
		}
	}
}

.copy-page-backdrop{
	z-index: -1 !important;
}
	.copy-page {
		z-index: 1050;
		ai-dialog-header{
			background-color: #b2e7e9 !important;
			.duplicate-page{
		    span,
		    .ion-close
		    {
			color: #424242 !important;
		    }
		}
		}
	.duplicate-inner-page{
		width: 90%;
		margin-left: 20px;
		margin-top: 25px;
		input{
			margin-top: 10px;
		}
		.custom-select {
			margin-top: 10px;
			.btn.default-button {
				min-height: 34px;
				text-align: left;
				.seleted-options {
					margin: 0;
					padding: 0;
				}
			}
		}
		.choosefilters {
			.custom-select {
				button {
					min-height: 34px;
					text-align: left;
					.seleted-options {
						margin: 0px 0px 0px 0px;
						padding: 0px $space-sm 0 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.seleted-options:not(:first-child) {
						margin: 0px 0px $space-sm 0;
					}
				}
			}
			.multi-select {
				position: relative;
				margin-top: 10px;
				button {
					min-height: 34px;
					text-align: left;
					width: 100%;
					i.icon {
						top: 32%;
						position: absolute;
						right: 15px;
						float: right;
					}
					&:hover,
					&:focus,
					&:active {
						background-color: #fff;
						border: 1px solid $border-color-special;
						color: $button-default-text-color;
						outline: 0;
					}
				}
				.multi-drop-down {
					display: block;
					margin-top: 0;
					border-top: none;
					border-radius: 0;
					width: 100%;
					.search-input {
						padding: 10px;
						border-bottom: 1px solid #edf3f4;
					}
					ul {
						padding: 10px;
						overflow-y: auto;
						max-height: 150px;
						label {
							font-size: $text-font-size-default;
							line-height: 1.2;
						}
						.input-check-group {
							input[type=checkbox] {
								min-height: 20px;
								height: 20px;
								margin-top: 0;
							}
							.checkbox::before {
								border-color: #fff;
								left: 3px;
								display: inline-block;
							}
							.option-name {
								display: inline-block;
								width: 80%;
							}
							input:checked+.checkbox {
								border: 1px solid  #3C6D68 ;
								border: none;
								background:  #3C6D68 ;
							}
						}
					}
				}
			}
			.delete-icon {
				a {
					position: relative;
					top: 10px;
				}
			}
		}
		.action-btn-group {
			background-color: #fff;
			border-top: 1px solid $border-color-primary;
			padding: $space-sm 5%;
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
			min-height: $site-top-navbar-element-min-height;
			.cancel {
				border: none;
				box-shadow: none;
				background: transparent;
				&:hover {
					background: transparent;
				}
			}
		}
	}
	.add-page-type-section {
		position: absolute;
		height: 100%;
		overflow-y: auto;
		padding: 36px 33px;
		width: 100%;
		.selection-title {
			color: $text-color-bold;
			font-family: $font-family-primary-bold;
			font-weight: bold;
			font-size: $text-font-size-default;
			border-bottom: 1px solid $border-color-primary;
			margin-top: 0;
			margin-bottom: $space-md * 2;
			padding-bottom: $space-md + $space-sm;
		}
		.know-more {
			color: $text-color-lighter;
			margin-top: $space-md;
			margin-bottom: $space-lg;
			display: block;
		}
	}
	.add-page-ctr.add-page-box {
		position: absolute;
		padding: 36px 33px;
		height: calc(100% - #{$site-top-navbar-element-min-height});
		overflow-y: auto;
		width: 100%;
		.content-page-details,
		.duplicate-inner-page,
		.landing-page-details,
		.page-category-details {
			.form-group {
				.custom-select {
					button {
						min-height: 34px;
						text-align: left;
						.seleted-options {
							margin: 0px 0px 0px 0px;
							padding: 0px $space-sm 0 0;
						}
					}
				}
			}
		}
	}
	.page-type-description {
		text-align: center;
		p {
			color: $text-color-heading-new;
			font-size: $text-font-size-small + 1;
			margin-bottom: ($space-lg * 5) / 2;
		}
		.page-type-title {
			font-size: $text-font-size-16;
			margin-bottom: $space-md;
		}
	}
	.page-type-tile {
		padding: 2%;
		text-align: center;
		@include borderRadius(2px);
		display: block;
		border: 1px solid rgba(143, 164, 175, 0.333);
		margin-bottom: $space-md;
		.icon {
			font-size: ($icon-font-size-20 * 4) + 8;
			color: $text-color-default;
			&::before {
				position: relative;
				top: 12px;
			}
		}
	}
}	
