.blog-mode {
  font-size: 18px;
  margin: 0px;
}
.fixed-header {
  position: fixed;
}
.width-100 {
  width: 100%;
}
.blog-error-msg {
  background: $text-color-danger;
  padding: 10px;
  text-align: center;
  color: $text-color-white;
  font-weight: bold;
  margin: 0;
  span {
    display: inline-block;
    @include borderRadius(50px);
    padding: 2.6px 10px;
  }
}
.error-in {
  @include boxShadow(0px 0px 3px $text-color-danger !important);
}
.blog-sidenav-fixed {
  position: absolute;
  overflow-y: overlay;
  overflow-x: hidden;
  right: 0px;
  width: 304px;
  background: #fff;
  top: 60px;
  z-index: 10;
  border-top: 1px solid #f0f0f0;
  padding: 0;
  height: calc(100vh - 135px);
  .sidenav-item {
    border: solid 1px #edf3f4;
    padding: 24px;
    h6 {
      font-size: 14px;
      color: #424242;
      margin: 0 0 20px 0;
      .info-img {
        margin-top: -15px;
        display: block;
        margin-bottom: 15px;
      }
    }
    h5 {
      color: #6d6d6d;
      font-size: 17px;
      border-bottom: solid 1px #edf3f4;
      margin: 30px 0px 17px 0;
      padding-bottom: 17px;
      position: relative;
      padding-left: 32px;
      i {
        font-size: 36px;
        color: #718385;
        position: absolute;
        left: -4px;
        top: -10px;
      }
    }
    .head-seb-title {
      color: #6d6d6d;
      font-size: 13px;
      margin-top: 20px;
      &.dup {
        margin-top: 28px;
      }
    }
    .image-edit-block {
      width: 100%;
      @include borderRadius(2px);
      padding: 30px 0;
      background-color: #f8fafb;
      border: solid 1px #f1f6f6;
      height: 122px;
      &.image-active {
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
      }
      .edit-image-block {
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.77);
        padding: 8px;
        transition: 0.3s all;
        a {
          color: #fff;
          text-transform: capitalize;
          font-size: 12px;
          font-weight: normal;
          &.replace-img {
            float: left;
          }
          &.del-img {
            float: right;
          }
          i {
            position: relative;
            top: 2px;
            margin-right: 4px;
          }
        }
      }
      &:hover .edit-image-block {
        bottom: 0;
      }
      button {
        color: #01b3c1;
        font-size: 12px;
        display: block;
        text-align: center;
        border: none;
        background: none;
        outline: none;
        margin: 0 auto;
        &.use-def {
          width: 88px;
          height: 24px;
          @include borderRadius(2px);
          background-color: #f8fafb;
          border: solid 1px #e0e6e9;
          font-size: 11px;
          color: #b7c4ca;
        }
      }
      p {
        text-align: center;
        font-size: 12px;
        color: #b8b8b8;
        margin: 0;
      }
    }
    label.drop-select {
      width: 100%;
      position: relative;
      margin: 0;
      &::before {
        position: absolute;
        right: 0;
        border: 1px solid #e4f7f9;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        @include borderRadius(50px);
        padding: 0 9px;
        color: #2927B2;
        font-size: 10px;
        z-index: -1;
      }
      .custom-select .btn.default-button {
        background: transparent;
        border: none;
        text-align: left;
        font-size: 17px;
        color: rgb(85, 98, 99);
        box-shadow: none;
        height: auto;
        min-height: 30px;
        padding: 2px 0;
        padding-right: 43px;
        .caret {
          display: none;
        }
        .seleted-options {
          padding: 0;
          font-size: 17px;
          margin: 0;
        }
      }
    }
    select {
      height: 30px;
      font-size: 17px;
      color: #556263;
      background: none;
      outline: none;
      border: none;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 2px 0;
      padding-right: 43px;
      cursor: pointer;
    }
    input[type="text"] {
      width: 100%;
      height: 36px;
      @include borderRadius(2px);
      background-color: #fcfcfc;
      border: solid 1px #f2f2f2;
      font-size: 14px;
      padding: 0 16px;
      color: #424242;
    }
    textarea {
      width: 100%;
      @include borderRadius(2px);
      background-color: #fcfcfc;
      border: solid 1px #f2f2f2;
      color: #424242;
      font-size: 14px;
      padding: 6px 16px;
      resize: none;
    }
    span.site-url-copy {
      color: #6d6d6d;
      font-size: 13px;
      display: block;
      margin-top: 5px;
      i {
        position: relative;
        top: 2px;
        color: #d2d2d2;
      }
    }
    .tag-container {
      position: relative;
      button {
        position: absolute;
        height: 100%;
        border: none;
        background: #0097a3;
        color: #ffffff;
        width: 35px;
        outline: none;
        right: 0;
        padding-top: 7px;
        cursor: pointer;
        border-left: solid 1px #decccc;
        &.disabled {
          color: #484848;
          background: none;
        }
      }
    }
    .tag-cloud {
      p {
        span {
          padding: 7px 16px;
          @include borderRadius(40px);
          background-color: #fafafa;
          display: inline-block;
          margin: 3px 0;
          color: #6d6d6d;
          font-size: 13px;
          button {
            float: right;
            margin: 0;
            padding: 0;
            line-height: 1;
            border: none;
            background: none;
            margin-left: 15px;
            margin-top: 1px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .image-change {
    img {
      width: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }
}
.blog-sidenav-fixed{
  &.tier3-sidenav{
    right: 17px;
    top: 126px;
  }
}
.edit-blog-header {
  @include boxShadow(0px 3px 5px #f0f0f0);
  padding: 15px;
  width: calc(100% - 48px);
  z-index: 15;
  background: #fff;
  &.flex-display,
  .flex-display {
    display: flex;
    flex-direction: row;
    &.align-right {
      float: right;
      *:not(:last-child) {
        margin-right: 10px;
      }
    }
    &.align-left {
      float: left;
    }
  }
  .nav-div {
    width: auto;
    button {
      padding: 5px 15px;
    }
  }
}
.background-classic {
  background: #f4f8f9;
  width: 100%;
  height: calc(100vh - 135px);
  overflow-y: overlay;
  width: 80%;
}
.main-content {
  width: 100%;

  .image-edit-blog {
    background-image: url("../images/test-image.png");
    background-size: cover;
    min-height: 200px;
  }
  .text-content-blog-edit {
    margin: 0 auto;
    width: 50%;
    .blog-title {
      font-size: 40px;
    }
    .blog-content-description {
      margin-top: 15px;
      font-size: 20px;
    }
  }
  #blog-description,
  #blog-header {
    margin: 0 auto;
    width: 77%;
  }
  #blog-header {
    margin: 15px auto;
    input[type="text"] {
      width: 100%;
      line-height: 46px;
      text-indent: 16px;
      border: solid 1px #e7eced;
      @include borderRadius(2px);
    }
  }
}
.main-blog-wrapper .cnt-blog .cke {
  width: 77%;
  position: relative;
}
body .cnt-blog .cke .cke_toolbox::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 1px;
  background: rgb(228, 228, 228);
}
.plain-button {
  background: transparent;
  border: 1px solid #484848;
  color: #484848;
}
.primary-button {
  background-color: #3C6D68 !important;
  color: #fff;
  border: 1px solid #3C6D68;
  border-radius: 50px !important;
  &:hover {
    background: #1D3734; 
  }
  &.blog-changes{
    margin-right: 32px;
  }
  &.enable-blogs{
    float: right;
    margin-right: 218px;
  }
}
.no-back-button {
  background: transparent;
  color: inherit;
  border: none;
}
.main-content {
  margin-top: 50px;
}

/* blog list & blog first page */
.blogs-welcome-section {
  position: absolute;
  width: 100%;
  display: flex;
  height: calc(100vh - #{$site-top-navbar-element-min-height});
  align-items: center;
  .blog-inner-thumb {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    height: fit-content;
    text-align: center;
  }
  .blog-icon {
    margin-bottom: 40px;
  }
  h2 {
    color: #5d5d5d;
    font-size: 56px;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0;
  }
  p {
    color: #8c8c8c;
    font-size: $side-sub-navbar-font-icon-size-default;
  }
  a.create-blog-nav {
    background-color: $brand-color;
    color: rgba(255, 255, 255, 0.89);
    font-size: $side-sub-navbar-font-size-default;
    width: 320px;
    display: inline-block;
    text-transform: uppercase;
    @include borderRadius(2px);
    letter-spacing: 1px;
    margin-top: $space-sm + 2;
    .rotate-icon {
      @include transform(rotate(180deg));
      display: inline-block;
      line-height: 1;
      padding-right: $space-xs + 1;
      font-size: $text-font-size-18;
    }
  }
}
.cms-inner-page{
  &.blog-tier3-wrapper{
    left: 0;
    width: 100%;
  }
.main-blog-wrapper {
  height: calc(100vh - #{$site-top-navbar-element-min-height});
  background-color: #f4f8f9;
  position: absolute;
  overflow-y: overlay;
  width: 100%;
  &.blog-tier3-update{
    height: calc(100vh - 65px);
    width: 100%;
    .blog-tier3-update-span{
      margin-top: 0px;
      padding: 15px 15px;
      display: block;
      span{
        font-size: 23px;
        margin-left: 10px;
      }
      h3{
        margin-top: -29px;
        margin-left: 40px;
      }
      a{
        font-size: 23px;
        margin-left: 10px;
        color: #5f5f5f;
      }
    }
    .div-wrap{
      padding: 0 15px;
      .div-border-wrap{
        border: 1px solid #d2d2d2;
      }
    }
  }
  .blog-inner-header {
    height: 60px;
    background-color: #ffffff;
    @include boxShadow(0 2px 2px 0 rgba(237, 237, 237, 0.5));
    padding: 0 32px;
    width: 100%;
    position: relative;
    h3 {
      font-size: $text-font-size-18;
      color: #22282b;
      position: absolute;
      left: 32px;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      span {
        cursor: pointer;
        i {
          font-size: 14px;
          position: relative;
          top: 1px;
          padding-right: 5px;
        }
      }
    }
    .header-manage-blog {
      position: absolute;
      right: 32px;
      height: 100%;
      display: flex;
      align-items: center;
      &.blog-empty-list-btn{
	  position: relative;
	  margin-top: 20px;
	  display: block;
	  right: 15px;
      }
      .btn-cancel-blog {
        color: #777;
        font-size: 14px;
        font-weight: normal;
        padding-right: 14px;
        &.new-blog{
          color: #2927B2;
      }
      }
      .manage_btn {
        width: 104px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #2927B2;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #2927B2;
        padding-top: 12px;
        &.settings{
          width: 142px;
        }
      }
      .new-blog_btn {
        margin-left: 8px;
        width: 153px;
        height: 40px;
        border-radius: 2px;
        background-color: #2927B2;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        padding: 8px;
        padding-top: 12px;
        &.blog-settings{
          width: 188px;
          padding: 12px;
        }
        &.new-blog {
          margin-right: 360px; 
          margin-top: 22px;
      }
      }
      .draft-save-top {
        position: relative;
        width: 36px;
        height: 40px;
        background-color: #2927B2;
        text-align: center;
        @include borderRadius(2px);
        cursor: pointer;
        margin-left: 3px;
        a {
          width: 175px;
          height: 52px;
          @include borderRadius(2px);
          @include boxShadow(0 2px 4px 0 rgba(0, 0, 0, 0.08));
          background-color: #ffffff;
          border: solid 1px #e3ebf2;
          position: absolute;
          top: 40px;
          left: -139px;
          z-index: 99;
          color: #424242;
          font-size: 14px;
          font-weight: normal;
          padding-top: 15px;
          img.draft-icon {
            position: absolute;
            left: 18px;
            top: 16.5px;
          }
        }
      }
      .draft-in-cover {
        margin-bottom: 0;
        color: #fff;
        padding-top: 11px;
        height: 36px;
        width: 100%;
        input {
          display: none;
        }
      }
    }
  }
  .main-blog-list {
    max-width: 80%;

    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
    .blog-list-tab-nav {
      border-bottom: solid 1px #e7eced;
      width: 100%; //1196px;
      &.manage{
        padding-bottom: 9px;
      }
      &.blog{
        padding-bottom: 18px;
      }
      ul.blog-tabs {
        // float: left;
        width: auto;
        height: 22px;
        //font-family: ProximaNova;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2927B2;

        li {
          margin-right: 40px;
          display: inline-block;
          a {
            font-size: $text-font-size-18;
            text-align: left;
            color: #9ba3a6;
            font-weight: normal;
            padding-bottom: 22px;
            display: inline-block;
          }
          &.active {
            border-bottom: solid 1px $button-primary-bg-color;
            a {
              color: $button-primary-bg-color;
              font-weight: bold;
            }
          }
          &:hover {
            a {
              color: $button-primary-bg-color;
            }
          }
        }
      }
      .blog-search {
        float: right;
        position: relative;
        input {
          width: 183px;
          height: 35px;
          opacity: 0.4;
          @include borderRadius(2px);
          border: solid 1px #c6d6e5;
          padding: 0 10px 0px 35px;
          margin-bottom: 0px;
          margin-top: -26px;
        }
        i {
          position: absolute;
          left: 15px;
          top: -18px;
          font-size: 18px;
          color: #c6d6e5;
        }
      }
    }
    .main-blog-listing {
      margin-top: 30px;
      margin-bottom: 50px;
      .inner-blog-listing {
        span.no-blog {
          width: 100%;
          @include borderRadius(2px);
          padding: 22px;
          background-color: #ffffff;
          margin-bottom: 12px;
          @include transition(0.5s all);
          display: block;
          text-align: center;
          font-size: 24px;
          text-transform: capitalize;
          img {
            margin: 0px 0px;
          }
          .no-blog-text{
            width: 36%;
            height: 24px;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #353f43;
            margin-top: 28px;
            margin-left: 32%;
        }
        }
        > li {
          width: 100%; //1196px;
          //height: 126px;
          min-height: 124px;
          border-radius: 2px;
          background-color: #ffffff;

          //width: 100%;
          @include borderRadius(2px);
          //min-height: 124px;
          padding: 22px;
          //background-color: #ffffff;
          margin-bottom: 12px;
          @include transition(0.5s all);
          + span.no-blog {
            display: none;
          }
          &:hover {
            @include boxShadow(
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12)
            );
            .blog-list-edit a {
              border: solid 1px $button-primary-bg-color;
              color: $button-primary-bg-color;
            }
            .blog-div .blog-menu-sec button span {
              color: $button-primary-bg-color;
            }
          }
          .blog-thumb {
            width: 82px;
            height: 82px;
            float: left;
            background: #808080;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            span {
              background-color: #7ed321;
              display: block;
              position: absolute;
              height: 16px;
              width: 16px;
              @include borderRadius(50px);
              border: 3px solid #fff;
              right: -7px;
              top: -7px;
            }
            > div {
              //background: #00a8B6;
              position: relative;
              top: 56px;
              //float: left;
              //bottom: -60px;
              //height: 22px;
              /* right: -5px; */
              //width: 82px;
              //font-size: 10px;
              //color: white;

              width: 82px;
              height: 26px;
              border-radius: 2px;
              background-color: #2927B2;

              span {
              }
              i {
                //float: left;
                width: 9px;
                height: 9px;
                object-fit: contain;
              }
              label {
                //featured
                width: 52px;
                height: 11px;
                //font-family: ProximaNova;
                font-size: 9px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.8px;
                text-align: left;
                color: #ffffff;

                padding-left: 22px;
                padding-bottom: 7px;
                padding-top: 8px;
                padding-right: 8px;
              }
            }
          }
          .blog-main-content {
            float: left;
            width: calc(100% - 82px);
            .blog-title {
              //width: 40%;
              width: 285px;
              height: auto;
              position: relative;
              p {
                width: 100%; //347px;
                height: auto;
                //font-family: ProximaNova;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #353f43;
                padding-bottom: 4px;
              }
              div.featured-article {
                position: absolute;
                top: 0;
                left: 16px;
                label {
                  //width: 61px;
                  //height: 13px;
                  //font-family: ProximaNova;
                  position: relative;
                  top: -7px;
                  font-size: 11px;
                  letter-spacing: 1px;
                  text-align: left;
                  color: #2927B2;
                //   i {
                //     // width: 14px;
                //     // height: 14px;
                //     font-size: 20px;
                //     object-fit: contain;
                //   }
                }
                i {
                    // width: 14px;
                    // height: 14px;
                    font-size: 20px;
                    color: #2927B2;
                    object-fit: contain;
                }
              }
            }
            .blog-div {
              width: 22%;
              &.blog-date-time-status {
                width: 29%;
                position: relative;
                .un-p {
                  white-space: nowrap;
                  left: 0;
                  position: absolute;
                  bottom: -15px;
                  i {
                    font-size: 28px;
                    line-height: 0;
                    position: relative;
                    top: 9px;
                    left: 6px;
                  }
                }
              }
            }
          }
          .blog-title {
            float: left;
            //width: 300px;
            padding: 0px 0px 0px 20px; //20px 0px 0px 20px;
            //color: #22282b;
            //font-size: 16px;
            p {
              //width: 347px;
              height: auto;
              //font-family: ProximaNova;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: #353f43;
              width: auto;
              padding-top: 24px;
              margin-bottom: 2px;
              word-break: break-all;
            }
            span {
              font-size: 14px;
              color: #9ba3a6;
            }
          }
          .blog-div {
            float: left;
            width: calc(62% - 392px);
            text-align: center;
            font-size: 14px;
            color: #9ba3a6;
            height: -webkit-fill-available;
            display: flex;
            align-items: center;
            max-height: 82px;
            span {
              width: 100%;
              text-align: right;
              display: inline-block;
              position: relative;
              //.publish-status{
              label {
                width: auto; //61px;
                height: 17px;
                //font-family: ProximaNova;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #91a1a8;
                //color: #7ed321;
                text-transform: capitalize;
                .publish {
                  color: #7ed321;
                }
              }
              span.publish{
                color: #7ed321;
              }
              span.saved-on{
                  color: #85878c;
              }
              .title-child {
                font-size: 11px;
                text-transform: uppercase;
                color: #b6bdbf;
              }
            }
            .blog-menu-sec {
              position: absolute;
              top: 0;
              right: -38px;
              width: 38px;
              height: 36px;

              button {
                cursor: pointer;
                width: 38px;
                height: 36px;
                border : none;
                background-color: transparent;
                margin: 0;
                padding-top: 8px;
                outline: none;
                span {
                  display: block;
                  color: #ced7d7;
                  margin: 2px auto;
                  font-size: 18px;
                  margin-top: 13px;
                  @include transition(0.5s all);
                  margin-left: 0;
                  width: 60%;
                }
              }
              ul {
                width: 175px;
                height: 86px;
                @include borderRadius(2px);
                @include boxShadow(0 2px 4px 0 rgba(0, 0, 0, 0.08));
                background-color: #ffffff;
                border: solid 1px #e3ebf2;
                position: absolute;
                top: -80px;
                left: -85px;
                li {
                  text-align: left;
                  padding: 9px 0 0px 33px; //18px
                  a {
                    font-size: 14px;
                    color: #424242;
                    height: auto;
                    width: auto;
                    border: none;
                    padding: 0;
                    background: none;
                    font-weight: normal;
                    display: block;
                    text-align: left;
                    @include transition(0.2s all);
                    margin: 0;
                    i {
                      color: #90a0ae;
                      font-size: 20px;
                      padding-right: 10px;
                      position: relative;
                      top: 4px;
                      line-height: 1;
                      &.top-min {
                        top: 6px;
                        padding-right: 4px;
                      }
                    }
                    &:hover {
                      color: $button-primary-bg-color;
                      i {
                        color: $button-primary-bg-color;
                      }
                    }
                  }
                }
              }
            }
          }
          .blog-list-edit a {
            width: 84px;
            height: 36px;
            margin-top: 13px;
            @include borderRadius(2px);
            background-color: $bg-color-special-white;
            border: solid 1px #e7eced;
            font-size: $text-font-size-default;
            color: #9ba3a6;
            display: inline-block;
            text-align: center;
            padding-top: 9px;
            text-transform: capitalize;
            @include transition(0.5s all);
          }
          &.blog-drft {
            .blog-thumb span {
              background-color: #f5a623;
            }
          }
        }
      }
      &.manege-blog-in {
        .inner-blog-listing {
          .addauthor {
            display: block;
            text-align: right;
            padding: 0 2px;
            position: relative;
            top: -10px;
            a {
              font-size: 13px;
              color: #2927B2;
              font-weight: normal;
            }
          }
          > li {
            min-height: auto;
            margin: 0;
            border: solid 1px #e7eced;
            border-bottom: none;
            &:hover {
              @include boxShadow(none);
            }
            &.manage-heading {
              span {
                font-size: 16px;
                font-weight: 600;
                color: #9ba3a6;
                width: auto;
              }
              > div {
                float: left;
                width: 28%;
                padding: 0;
                height: auto;
              }
            }
            .blog-thumb {
              width: 48px;
              height: 48px;
              @include borderRadius(50px);
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
            .blog-title {
              padding-top: 2px;
              width: calc(100% - 48px);
              p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 8px;
              }
              span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
              }
            }
            > div {
              float: left;
              width: 28%;
              max-height: 50px;
              margin-right: 2%;
              span {
                text-align: left;
              }
              &.blog-list-edit {
                width: 10%;
                margin: 0;
              }
            }
            &:last-child {
              border-bottom: solid 1px #e7eced;
            }
          }
          span.no-blog {
            width: 100%;
            @include borderRadius(2px);
            padding: 22px;
            background-color: #ffffff;
            margin-bottom: 12px;
            @include transition(.5s all);
            display: block;
            text-align: center;
            font-size: 24px;
            text-transform: capitalize;
            img {
                margin: 0px 0px;
            }
            .no-blog-text{
                width: 36%;
                height: 24px;
                font-size: 18px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: center;
                color: #353f43;
                margin-top: 18px;
                margin-left: 32%;
            }
        }
        }
      }
    }
  }
}
}

/* blog popup UI */
ux-dialog-container.cms-edit-modal-container.modal-lg.author-edit-container {
  max-width: 636px;
  .author-edit {
    ai-dialog-header {
      label {
        font-size: 18px;
        color: #fff;
        letter-spacing: 0.2px;
        margin: 0;
        line-height: 1;
      }
    }
    .author-edit-wrapper {
      padding: 10px;
      max-height: 60vh;
      overflow-y: overlay;
      label {
        color: #22282b;
        font-size: 14px;
        margin-left: 32px;
      }
      input[type="text"] {
        width: 572px;
        height: 48px;
        margin-left: 32px;
        margin-right: 32px;
        @include borderRadius(2px);
        background-color: #ffffff;
        border: solid 1px #e8edee;
      }
    }
    ai-dialog-footer {
      .btn-cancel {
        margin-left: 32px;
        float: left;
      }
    }
  }
}
.artical-thumb-sec {
  margin-bottom: 24px;
  &.blogs-author{
    margin-left:34px;
    margin-top:20px;
  }
  .blog-thumb {
    float: left;
    max-width: 96px;
    a.auth-img {
      width: 96px;
      height: 96px;
      background-color: #ffffff;
      border: solid 1px #eef4f4;
      @include borderRadius(50px);
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
      }
    }
  }
  .auther-img-det {
    float: left;
    margin-left: 25px;
    margin-top: 17px;
    p {
      color: #9ba3a6;
      font-size: 14px;
      margin: 0;
    }
    h5 {
      color: #22282b;
      font-size: 16px;
      margin: 0;
    }
  }
}
.default-img-ins {
  color: #9ba3a6;
  font-size: 17px;
  line-height: 1.5;
}
.default-img-wrapper {
  background-color: #fff;
  padding: 18px 70px;
  margin-top: 24px;
  border: solid 1px #eeeeee;
  h5 {
    color: #22282b;
    font-size: 18px;
    border-bottom: solid 1px #edf3f4;
    margin: 30px 0px 17px 0;
    padding-bottom: 17px;
    position: relative;
    padding-left: 50px;
    i {
      font-size: 50px;
      color: #718385;
      position: absolute;
      left: -4px;
      top: -16px;
    }
  }
  .head-seb-title {
    color: #22282b;
    font-size: 16px;
    margin-top: 20px;
    span {
      color: #9ba3a6;
      font-size: 12px;
    }
    &.thum {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 450px;
  }
  .img-def-as {
    float: left;
    clear: both;
    position: relative;
    //min-width: 450px;
    span.def-img-edit {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      text-align: right;
      background: rgba(0, 0, 0, 0.42);
      display: none;
      a {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        padding: 0 10px;
        i {
          position: relative;
          top: 3px;
        }
      }
    }
    &:hover span.def-img-edit {
      display: block;
    }
    &.img-placeholder {
      width: 100%;
      height: 250px;
      span.def-img-edit {
        width: 100%;
        height: 100%;
        top: 0;
        display: block;
        padding: 0;
        a {
          width: 100%;
          height: 250px;
          display: flex;
          padding: 0;
          align-items: center;
          border: solid 1px #eee;
          background: #f5f5f5;
          color: transparent;
          i {
            top: 0;
            color: #d4d4d4;
            font-size: 100px;
            display: block;
            line-height: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &.setting-blg {
    h5 {
      border: none;
      margin: 15px 0;
      padding: 0;
    }
    form {
      margin: 0;
      label {
        color: #9ba3a6;
        font-size: 16px;
        margin-left: 5px;
      }
      input {
        position: relative;
        top: 2px;
      }
      .row > div {
        margin-bottom: 10px;
      }
    }
  }
}
a.top-cros {
  color: #fff;
  float: right;
  transform: rotate(45deg);
}
#snackbar,
.snackbar-element {
  visibility: hidden;
  width: 45%;
  background-color: #333;
  color: #fff;
  text-align: center;
  @include borderRadius(2px);
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 28%;
  bottom: 30px;
  font-size: 17px;
  &.show-snackbar {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* blog feature */
.featur-repeter {
  margin-bottom: 55px;
  h3 {
    color: #9ba3a6;
    font-size: 18px;
    margin-bottom: 16px;
  }
  ul {
    li {
      width: 100%;
      min-height: 90px;
      padding: 22px;
      background-color: #ffffff;
      position: relative;
      margin: 0;
      border: solid 1px #e7eced;
      margin-bottom: -1px;
      p {
        float: left;
        position: absolute;
        height: 100%;
        left: 22px;
        top: 0;
        margin: 0;
        display: flex;
        align-items: center;
        color: #22282b;
        font-size: 16px;
      }
      label {
        position: absolute;
        right: 22px;
        top: 0;
        display: flex !important;
        align-items: center;
        height: 100%;
      }
    }
  }
}
.feature-main-sidebar {
  border-left: solid 1px #e7eced;
  margin-top: 55px;
  padding-left: 0;
  float: right;
  ul {
    li {
      a {
        font-size: 15px;
        color: #9ba3a6;
        padding: 10px 0;
        padding-left: 16px;
        margin-left: -1px;
        font-weight: normal;
        display: block;
        border-left: 1px solid transparent;
      }
      &.active a {
        color: #22282b;
        border-left: 1px solid #2927B2;
      }
    }
  }
}
.hidden-row {
  opacity: 0;
  height: 0;
  width: 0;
}
#cke_blog-description div#cke_1_contents {
  padding: 0 16px;
}
.blog-delete{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
  margin-right: 26px;
}
.blog-delete-class{
    margin-right: 12px;
}
.blog-main-sec-2 {
  float: right;
  width: calc(100% - 285px);
  margin-top: -5px;
}
.blog-category{
  padding: 10px;
  .form-group{
      label{
          margin-left: 32px;
          margin-top: 40px;
          color: #353f43;
          font-size: 14px;
      }
      input{
          width: 572px;
          height: 48px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #dde6e7;
          margin-top: 12px;
          margin-left: 32px;
          margin-right: 32px;
      }
  }
}
.blog-add-post{
  height: 40px;
  border-radius: 2px;
  background-color: #2927B2 !important;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff !important;
  padding-top: 12px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px !important;
  width: 278px !important;
}
.blog-tier3-span{
  margin-left: 270px;
  font-size: 18px;
  margin-top: -40px;
}
.blog-tier3-design{
  &.save{
    color: #ffffff !important;
    background-color: #1da8b7 !important;
    margin-right: 30px !important;
    width: 85px !important;
    height: 40px !important;
    border-radius: 2px;
  }
  &.cancel{
    background-color: #23252c;
    margin-left: 120px;
    margin-right: 21px;
    color: #abb1bc !important;
    border: none;
  }
}
.checkmark{
    position: absolute;
    top: 0px;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 2px;
    border: solid 1px #c6d6e5;
    &.checked{
      left: 3px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color:  #3C6D68 ;
      border: solid 1px  #3C6D68 ;
    }
}
label.input-check-group .checkbox, 
label.input-check-group .radio {
  height: 13px;
  width: 13px;
}
label.input-check-group.blog-design-checkbox input:checked + .checkbox, 
label.input-check-group.blog-design-checkbox input:checked + .radio {
  background:  #3C6D68 ;
  &::before{
    content: "";
    border-color: white;
  }
}
.blog-tier3-settings{
  height: 56px !important;
  padding: 20px 30px 20px 24px !important;
}
.blog-tier3{
  height: 76px !important;
  padding: 9px 24px 9px 5px !important;
}
.blog-design-tier3{
  margin-right: 10px;
  margin-top: -2px;
}
.blog-toggle-settings{
  color: #abb1bc;
  font-size: 16px;
}
.feature-flags-blogs{
  margin-bottom: 10px !important;
}