.cms-dashboard-page{
	.activity-select,
	.user-select,
	.item-select{
		max-width: 225px;		
		float: left;
		min-width: 150px;
		margin-bottom: 0;
	}
	.dashboard-block{
		min-height: 350px;
	}
	.cms-grid-body{
		border: 1px solid $border-color-special-light;
		margin-top: 30px;
		&:last-child{
		  border-bottom: 0px;
		}
		.cms-grid-header{
			margin-top: 0;
		}
	}
	.page-nav{
		&::after{
			content: "";
			display: table;
			clear: both;
		}
		.page-index-info,
		.pagination{
			float: left;
		}
		.page-index-info{
			padding-top: $space-sm;
			padding-right: $space-lg;
		}
		.pagination{
			margin: 0;
			& > .active > a, 
			& > .active > a:hover, 
			& > .active > a:focus{
				background-color: $brand-color;
				border-color: $brand-color-primary;
			}
		}
	}
	.customLabel {
		width: 120px;
		height: 2em;
		line-height: 1em;
		font-weight: 400;
		text-overflow: ellipsis;
		margin-bottom: 12px;
		cursor: pointer;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
	}
	.customLabel:hover{
		overflow: visible; 
		white-space: normal;
		height:auto;
	}
}