.cms-admin-add-api-mgr{
    .cms-admin-success-mgr,
    .cms-admin-failure-mgr{
        position: fixed;
        left: 0;
        right: 0;
        max-width: 350px;
        z-index: $modal-popup-zindex;
        margin: 0 auto;
        background-color: #fff;
        text-align: center;
        top: 20%;
        .icon{
            font-size: 250px;
            color: $brand-color;
            text-align: center;
            display: block;
            line-height: 250px;
        }
    }
    .cms-admin-failure-mgr{
        .icon{
            color: $text-color-danger;
        }
    }
    .modal-backdrop{
        @include opacity(0.5);
    }
}