//
// Variables
// --------------------------------------------------


//font family

$font-family-primary-reular: 			'Poppins', sans-serif;
$font-family-primary-light: 			'Poppins', sans-serif;
$font-family-primary-bold: 		    	'Poppins', sans-serif;




$brand-color: 							#00a8b7;
$brand-color-primary:                   #0097a3;

//== Colors
//

$text-color-special: 					$brand-color;
$text-color-default: 					#81858f;
$text-color-heading: 					#54575e;
$text-color-light:	 					#85878c;
$text-color-lighter: 					#b3b3b3;
$text-color-bold: 						#596977;
$text-color-white:						#ffffff;
$text-color-heading-new:				#43515c;

$text-color-danger: 					#d14836;
$text-color-warning: 					#fbbc05;

$input-placeholder-color:				#d5d6da;
$icon-color-default: 					#8fa4af;
$widget-text-color-heading: 			#364647;
//== bg-color
//

$bg-color-special:						$brand-color;
$bg-color-special-primary:				#effbfc;
$bg-color-special-secondary: 			#b2e7e9;
$bg-color-special-light: 				#66cbd4;//ecf0f1
$bg-color-special-white:				#ffffff;

//== Bg colors

$bg-color-special-one:                  #99e7ed;
$bg-color-special-two:                  #01c2d3;
$bg-color-special-three:                #f9fcfc;

$bg-color-primary:                      #f1f3f5;

$bg-color-lighter:				        #f5f5f5;

//border colors
$border-color-special:					$brand-color;
$border-color-special-light:			#c4edf1;

$border-color-default:					#edf3f4;
$border-color-white:					#ffffff;
$border-color-primary:					#d1e1e1;
$border-color-dark:				        #8fa4af;

//box shadow 

$box-shadow-default:					#e0e0e0;


//button

$button-default-text-color:				#464F5E;
$button-default-text-hover-color:		#bbbcbe;
$button-default-bg-color:				#ffffff;
$button-default-bg-hover-color:			#ffffff;
$button-default-border-color:			#d5d6da;

$button-primary-text-color:				#FFFFFF;
$button-primary-text-hover-color:		#b3e9ed;
// $button-primary-bg-color:				#01b2c0;
// $button-primary-bg-hover-color:			#008e9b;
$button-primary-border-color:			#2298a2;

$button-plain-text-color:				$brand-color;
$button-plain-text-hover-color:			$brand-color;
$button-plain-bg-color:					#FFFFFF;
$button-plain-bg-hover-color:			#F5F5F5;
$button-plain-border-color: 			#1699a1;

$button-cancel-bg-hover-color:			#dd513a;

$button-warning-bg-color: 				#b34330;

$space-xs:                              4px;
$space-sm:                              8px;
$space-md:                              12px;
$space-lg:                              16px;

//== z-index
//
$header-zindex:							1;
$footer-zindex:							2;
$left-nav-zindex:						3;

$loader-zindex:                         100;

$modal-popup-zindex:                    1041;

//== Header
//

$header-bg-color:						#00a8B6;
$header-text-color:						#FFFFFF;
$header-text-color-dark:				#424242;
$header-link-hover-color:				#098289;
$header-link-hover-color-primary:       #00a0af;
$header-border-color: 					#098289;

//== Footer
//

$footer-bg-color:						#000000;
$footer-text-color:						#FFFFFF;
$footer-link-hover-color:				$brand-color;

//== TOP navbar
//

$site-top-navbar-element-min-height:    55px;
$site-top-navbar-element-common-padding:18px 20px;

//== Side navbar
//

$side-navbar-width:                     48px;

$side-navbar-bg-color:					#363b43;
$side-navbar-text-color:				#ffffff;
$side-navbar-hover-text-color:			#85878c;
$side-navbar-link-selected-bg-color:	#40454d;
$side-navbar-border-color: 				#40454d;
$side-navbar-text-font-size-default:	14px;


//== Side Sub navbar
//

$side-sub-navbar-width:                         325px;
$side-sub-navbar-bg-color:						#23252c;
$side-sub-navbar-bg-color-one: 					#1f2027;
$side-sub-navbar-header-color:                  #2d313a;
$side-sub-navbar-text-color:					#FFFFFF;
$side-sub-navbar-hover-text-color:				#ffffff;
$side-sub-navbar-heading-border-color: 			#d8d8d8;
$side-sub-navbar-border-color: 					#363a43;
$side-sub-navbar-dropdown-link-bgcolor:			#23252c;
$side-sub-navbar-dropdown-text-color:			#42454c;
$side-sub-navbar-dropdown-link-border-color:	#41444b;
$side-sub-navbar-font-size-default:				16px;
$side-sub-navbar-dropdown-font-size-default:	14px;
$side-sub-navbar-font-icon-size-default:        22px;
$side-sub-child-navbar-width:                   400px;
$side-sub-child-navbar-left:                    $side-sub-navbar-width+100px;

//== Widget Sub navbar
//

$site-widget-min-width:                 219px;

//== font sizes
//

$heading-font-size-h1:					26px;
$heading-font-size-h2:					22px;
$heading-font-size-h3:					20px;
$heading-font-size-h4:					18px;

$text-font-size-small: 					12px;
$text-font-size-default:				14px;
$text-font-size-16:						16px;
$text-font-size-15:						15px;
$text-font-size-18:						18px;
$text-font-size-20:						20px;

$icon-font-size-14:						14px;
$icon-font-size-16:						16px;
$icon-font-size-18:						18px;
$icon-font-size-20:						20px;

/* ------------------ Progress bar------------------*/

$progree-bar-bg-color:					#cecfd1;
$progree-bar-progress-color:			$brand-color;


/*------------------Site preview pages--------------*/





/* ------------------Site widgets and bottom bar------------------*/


$btm-bar-bg-color-default: 				#f4f4f4;
$btm-bar-bg-color-primary: 				#40454b;
/* $btm-bar-bg-color-light: 				#454e66; */



//text-color


$btm-bar-text-color-default: 			$text-color-bold;
$btm-bar-text-color-primary: 			#72757a;
/* $btm-bar-text-color-light:	 			#858994; */



//$btm-bar-text-color-lighter: 		;


//text-hover-color

//$btm-bar-text-hover-color-default: 		#ffffff;





//border colors
//
//$btm-bar-border-color-default:			#2a3144;
//$btm-bar-border-color-primary:			#33394a;
//$btm-bar-border-color-light: 			#666666;

//input 
//
//$btm-bar-input-text-color-default:      #828793;
//$btm-bar-input-bg-color-default: 	    #2f374b;
//$btm-bar-input-border-color-defalt: 	#3f485e;

/*------------------------- END -------------------------------*/

/* ------------------------Modal popup variables --------------*/

$modal-container-bg-color-default:		#ffffff;

$modal-header-bg-color-default:			#ffffff;

$modal-text-color-default:				#85878c;
//$modal-text-color-primary:			#333333;
//$modal-text-color-light:				#666666;


$modal-heading-text-color-default:		#54575e;
$modal-heading-border-color-default:	#f2f3f3;

//border color variables

$modal-border-color-default: 			#e6e7e8;
$modal-border-color-primary:  			#b7b7b7;
$modal-border-color-light:    			#f2f3f3;





/* ------------------------ Panel variables --------------*/

$table-header-bg-color-default: 		#e8f6f8;
$table-header-color-default: 			#40474e;
$table-header-text-size-default: 		14px;
$table-header-padding-tb-default: 		16px;

//$table-header-border-color-primary: 	#d7ddde;


$table-border-color-default: 			#e7ebed;
$table-border-color-primary: 			#e8f6f7;
//$table-border-color-secondary: 			#E5E5E5;


$table-row-bg-color-default:			#ffffff;
$table-row-hover-bg-color-default:		#f3fbfb;


$table-text-color-default: 				#81858f;
$table-text-size-default: 				14px;
$table-text-padding-tb-default: 		16px;
$widget-heading-color:                  #20a0a7;
$widget-cancel-color:                   #2927B2;
$widget-side-submenu-width:             299px;


//$table-button-bg-color-primary:			#bbc5c6;
//$table-button-bg-color-secondary:		#444c4d;


//$table-button-color-primary:			#6c6e74;  
//$table-button-color-secondary:			$brand-color; 

// Font family
$font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif, !default;

// Constants
$box-shadow-app: 0 0.2em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.02);
$color-input-fields: #f8f8f8;

// Colors
$color-blue-active: #4285f4;
$color-blue-hover: #4370f4;

$color-red-active: #f44250;
$color-red-hover: #db3d49;

$color-gray-light: #c4c4c4;
$color-gray-default: #808080;

$color-rainbow: linear-gradient(to bottom,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));

// Box shadows
$box-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

// Border radius
$border-radius-mid: 0.15em;

// Inline SVG muster
$icon-transparency: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
$icon-x: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>');


//
// Variables
// --------------------------------------------------

//font family




//== Colors
//





$font-path:  './fonts';

//== font sizes
//

$heading-font-size-h1:					26px;
$heading-font-size-h2:					22px;
$heading-font-size-h3:					20px;
$heading-font-size-h4:					18px;

$text-font-size-small: 					12px;
$text-font-size-default:				14px;
$text-font-size-16:						16px;
$text-font-size-18:						18px;
$text-font-size-20:						20px;

$icon-font-size-14:						14px;
$icon-font-size-16:						16px;
$icon-font-size-18:						18px;
$icon-font-size-20:						20px;

$text-font-size-vw-1:                   1.3vw;

/* ------------------ Progress bar------------------*/

$progree-bar-bg-color:					#cecfd1;
$progree-bar-progress-color:			$brand-color;


//== z-index
//
$header-zindex:							1;
$footer-zindex:							2;
$left-nav-zindex:						3;

$modal-popup-zindex:                    1040;

//== Border colors
//
$border-color-special-light:			#00b7c6;
$border-color-special-dark:			    #019ca9;
$border-color-default:					#e6e7e8;
$border-color-white:					#ffffff;
$border-color-primary:					#d2d4cd;

//== Bg colors

$bg-color-special-one:                  #99e7ed;
$bg-color-special-two:                  #01c2d3;
$bg-color-special-three:                #f9fcfc;
$bg-colo-special-four:                  #29B3BE;

$bg-color-primary-one:                  rgba(102, 102, 102, 1);


//== Side Sub navbar
//

$side-sub-navbar-bg-color:						#22252c;
$side-sub-navbar-text-color:					#65686f;
$side-sub-navbar-hover-text-color:				#FFFFFF;
$side-sub-navbar-heading-border-color: 			#6c6f77;
$side-sub-navbar-border-color: 					#353b42;
$side-sub-navbar-dropdown-link-bgcolor:			#22252c;
$side-sub-navbar-dropdown-text-color:			#42454c;
$side-sub-navbar-dropdown-link-border-color:	#41444b;
$side-sub-navbar-font-size-default:				16px;
$side-sub-navbar-dropdown-font-size-default:	14px;


//button

$button-default-text-color:				#464F5E;
$button-default-text-hover-color:		#bbbcbe;
$button-default-bg-color:				#ffffff;
$button-default-bg-hover-color:			#ffffff;
$button-default-border-color:			#d5d6da;

$button-primary-text-color:				#FFFFFF;
$button-primary-text-hover-color:		#FFFFFF;
$button-primary-bg-color:				#3C6D68;
$button-primary-bg-hover-color:			#1D3734;
$button-primary-border-color:			#3C6D68;

$button-plain-text-color:				$brand-color;
$button-plain-text-hover-color:			$brand-color;
$button-plain-bg-color:					#FFFFFF;
$button-plain-bg-hover-color:			#F5F5F5;
$button-plain-border-color: 			#3C6D68;

$button-cancel-bg-hover-color:			#dd513a;

$button-warning-bg-color: 				#b34330;

$space-xxs:                             2px;
$space-xs:                              4px;
$space-sm:                              8px;
$space-md:                              12px;
$space-lg:                              16px;


/* ------------------------Modal popup variables --------------*/

$modal-container-bg-color-default:		#ffffff;

$modal-header-bg-color-default:			#ffffff;

$modal-text-color-default:				#85878c;
//$modal-text-color-primary:			#333333;
//$modal-text-color-light:				#666666;


$modal-heading-text-color-default:		#54575e;
$modal-heading-border-color-default:	#f2f3f3;

//border color variables

$modal-border-color-default: 			#e6e7e8;
$modal-border-color-primary:  			#b7b7b7;
$modal-border-color-light:    			#f2f3f3;
$edit-tool-box-shadow:                  0px 0px 0px 1px rgba(114,114,114,0.18);



