.cms-template-page{
	.thumbnail-block{
		@include siteThumbnailView();
		&:hover,
		&.active{
		    .thumbnail-view{
		        display: block;
		    }
		}
		.thumbnail-preview.active{
			.thumbnail-view span{
				display: none;
			}
		}
		.thumbnail-details{
			.thumbnail-name{
				border-left: 0;
				text-align: left;
				padding-left: 15px;
				width: 83%;
			}
		}
		.template-name{
			position: absolute;
		    left: 0;
		    top: 0;
		    opacity: 0;
		    z-index: 1;
		    height: 100%;
		    width: 100%;
		    cursor: pointer;
		}
	}
}
.cms-template-home{
	.cms-template-home-container{

	}
}
