@include font-face('Proximanova Regular','../fonts/ProximaNova-Regular');
@include font-face('Proximanova Light','../fonts/ProximaNova-light');
@include font-face('ProximaNova Semibold','../fonts/ProximaNova-Semibold');
body, html {
    font-family: $font-family-primary-reular;
    font-size: $text-font-size-default;
    color: $text-color-default;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-primary-reular;
    color: $text-color-heading;
}
a,span,div,p,label{
    font-family: $font-family-primary-reular;
}
h1 {
    font-size: $heading-font-size-h1;
}
h2 {
    font-size: $heading-font-size-h2;
}
h3 {
    font-size: $heading-font-size-h3;
}
h4 {
    font-size: $heading-font-size-h4;
}
a{
    color: $text-color-special;
}
label{
    font-weight: normal;
}
.special-text-color {
    color: $text-color-special;
}
.light-text-color {
    color: $text-color-lighter;
}
.font-bold {
    font-family: $font-family-primary-bold;
    color: $text-color-bold;
}
.error{
    color: $text-color-danger;
}
a, a:focus, a:visited {
    color: #4D3EE0;
    text-decoration: none;
    font-weight: 600;
}
a:hover, a:focus {
    color: #2927B2;
    text-decoration: underline;
}
.cms-page-container {
    position: relative;
    top: $site-top-navbar-element-min-height;
    //min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
}
.cms-inner-page {
    position: relative; 
    background-color: #ffffff;
    height: 100%;
    -webkit-box-flex: 0;
    left: $side-navbar-width;
    width: calc(100vw - #{$side-navbar-width + 5});
}
// .container {
//     width: 100% !important;
// }
.inner-page-container{
    padding: 30px 5% 80px;
    margin: 0 auto;
    min-height: 350px;
    .inner-search-block {
        margin-bottom: 0;
        width: 35%;
        min-width: 280px;
        float: left;
        .form-control {
            padding-left: 34px;
        }
        .icon{
            &.ion-ios-search{
                font-size: $icon-font-size-14;
                position: absolute;
                top: 9px;
                margin-left: 14px;
            }
        }
    }
}
.visible-hidden {
    visibility: hidden;
}
.visible-visible {
    visibility: visible;
}
.text-upper{
    text-transform: uppercase;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(0.65);
}
.required {
    color: #d14836;
}
.display-inline{
    display: inline !important;
}
.inline-block{
    display: inline-block !important;
}
.display-block{
    display: block !important;
}
.opacity{
    @include opacity(0);
}
::-input-placeholder {
    color: $input-placeholder-color;
}
iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
    &.frm-mobile {
        width: 480px;
        //display: block !important;
        margin: 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            cursor: pointer;
            &.blog-design-settings{
                border-bottom: 1px solid #41444b;
            }
        }
    }
}
a {
    cursor: pointer;
    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: 0;
    }
}
strong, b {
    font-family: $font-family-primary-bold;
}
.img-thumbnail {
    border: 5px solid rgba(0,0,0,0.48);
    @include borderRadius(0px);
}
//.ppc-loading{
//    position: absolute;
//    left: 0;
//    right: 0;
//    text-align: center;
//    /* background-color: rgba(0,0,0,0.75); */
//    display: inline-block;
//    margin: 0 auto;
//    max-width: 50px;
//    border-radius: 5px;
//    padding: 5px;
//    img{
//        max-width: 35px;
//    } 
//}
.ppc-loading{
    width: 100%;
    height: 100%;
    img {
        width: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 11;
    }
    &:after {
        left: 0;
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
}
.ppc-loading-text span{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 11;
    margin-top: 60px;
    margin-left: -35px;
}
.info-icon{
    .icon{
        color: $text-color-special;
        color: $bg-color-special;
        width: 20px;
        height: 20px;
        @include borderRadius(50px);
        text-align: center;
        font-size: 16px;
        display: inline-block;
        &:hover{
            color: $bg-color-special-light;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.text-white{
color: white;
}

.choices__item--selectable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.center-persona-maps {
    left: 70px;
    top: 20px;
    position: absolute;
}

.center-persona-maps-delete {
    position: absolute;
    top: 20px;			    
}

.center-persona-maps-2 {
    left: 16px;
    top: 5px;
    position: absolute;
}

/* The container */

.checkboxcontainer {
    color:#162d3d;
    display: block;
    position: relative;
    padding-left: 21px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
    }


    /* Hide the browser's default checkbox */

    /* Create a custom checkbox */

    .checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: white;
	border-radius: 10px;
	border: solid 1px #c6d6e5;
    }

    /* On mouse-over, add a grey background color */


    &:hover input ~ .checkmark {
	background-color: white;
    }
    input:checked ~ .checkmark {
	background-color: #2927B2;
	border: solid 1px #2927B2;
    }


    /* When the checkbox is checked, add a blue background */

    /* Create the checkmark/indicator (hidden when not checked) */

    .checkmark:after {
	content: "";
	position: absolute;
	display: none;
    }

    /* Show the checkmark when checked */


    input:checked ~ .checkmark:after {
	display: block;
    }
    .checkmark:after {
	left: 4px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
    }
}

/* Style the checkmark/indicator */

.pstooltip {
   padding-left: 10px;
   top: 10px !important;
   height: 60px; 
   width: 210px;
   border-radius: 2px;
   background-color: #ffffff;
   box-shadow: 0 3px 18px 0 rgba(216, 221, 230, 0.5);
    display: initial;
    left: -55px;   
    &::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid; 
    border-color: transparent transparent white transparent;
    }
}

.cicon-filter-page {

    &.unpublished-filters:after {
	content: ".";
	font-size: 60px;
	position: absolute;
	top: -45px;
	left: 15px;
	color: #ff5a5a;
    }
}
.cicon-check-status {
    &.text-warning:after {
	content:".";
	font-size: 30px;
	position: absolute;
	top: -9px;
	left: 282px;
	color: #ff5a5a;
    }
    font-size: 16px;
    &.text-success {
	color: #2bff54;
    }
    &.text-warning {
    	color: #2bff54;
    }
    &.text-light {
	
    }
}

.psfilter-btn {
    &.btn:focus, &.btn.focus, &.btn:active:focus, &.btn:active.focus, &.btn.active:focus, &.btn.active.focus {
	outline: none;
    }
}
#cropPreview canvas {
    width: 100%;
}
