.content-preview{
    overflow: scroll;
    height: 100vh;

    // .side-sub-menu{
    //     flex: 0 0 376px;
    //     max-width: 376px;
    //     padding: 0 24px 0 24px;
    //     padding: 0 0;
    //     color: #81858f;
    //     box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 12px rgba(0, 0, 0, 0.1);
    //     height: auto;
    // }

    .developer-area{
        // -webkit-flex: 0 0 calc(100% - 376px);
        // flex: 0 0 calc(100% - 376px);
        // height: auto;

        .header-area{
            padding:16px 15px;
            background-color: white;
            position: relative;
            display: flex;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 12px rgba(0, 0, 0, 0.1);

            .filter-area{
                display: inline-flex;

                h5{
                    margin: 12px 10px 12px 17px;
                    text-transform: capitalize;
                }

                .panel-widgets{
                    width: 200px;height:40px;
                }
            }

            .device-options{
                display: inline-flex;
                margin: 0 auto;
                padding: 7px 0;

                i{
                    cursor: pointer;
                }
            }

            .exit-preview-option{
                display: inline-flex;
                right: 10px;

                .vertical-flip{
                    margin: 0px 21px 0px 0px;
                    padding: 10px 5px 5px 5px;
                    cursor: pointer;
                    min-width: auto;

                    .preview-icon{
                        display: inline-block;
                        transform: rotateY(180deg);
                        padding-left: 3px;
                        cursor: pointer;

                        i{
                            color: rgb( 1,178,192);
                            font-size: 14px;
                        }
                    }

                    .preview-label{
                        font-size: 14px;
                        display: inline-block;
                        color: rgb( 1,178,192);
                        font-weight: 500;cursor: pointer;
                    }
                }
                a.assestbutton{
                    border-color: rgb(183,234,238);
                    color: rgb(0,136,148);
                    background-color: rgb(183,234,238);
                    padding: 8px 18px 5px 18px;
                    display: flex;
                }
                i.icon.ion-ios-eye-outline{
                    color: rgb(0,136,148);
                    font-size: 18px;
                    margin: 0px 10px 0px 0px;
                }
            }
        }

        .iframe-section{
            padding: 24px 40px;

            .preview-iframe-section{
                .preview-iframe-label{
                    margin: 0px 0px 40px 0px;
                }

                .content-preview-frame{
                    &.mobile{
                        height: 1800px;
                    width: 400px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    }
                
                    &.desktop{
                        height: 1000px;
                    }
                }
            }
        }
    }

    .filter-area {
        .custom-select {
            .btn.default-button {
                height: 40px;
                min-height: inherit;
                text-align: left;
                // border-radius: 2px;
                // border-color: #e8eff5;
                border-radius: 10px;
                border: 1px solid #D1D5DC;
                background: #FFF;
                .seleted-options {
                    margin: 0;
                    padding: 0;
                }
            }
            .dropdown-menu {
                li {
                    margin: 0;
                    label {
                        margin: 0;
                    }
                }
            }
        }
    }

    .consolidated-settings-modal-edit {

        .caas-body.caas-content-body{
            height: auto;
        }

        .lpfilter-add {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.25px;
        text-align: justify;
        color: #2927B2;
        }
        .form-group {
        label {
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.28px;
            color: #8ea4b0;
        }
        .form-control {
            height: 40px;
        }
            .upload-section.tab-pane{
                .preview-image-tag{
                    width:100%;
                     max-height:180px;
                }
            }
        }
    
        .static-container {
        margin-top: 9px;
        }
    
        .create-link {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.25px;
        text-align: right;
        color: #2927B2;
        text-transform: capitalize;
        }
    
    .loader {
        display: inline-block;
        border: 2px solid #e0e0e0;
      border-radius: 50%;
      border-top: 2px solid #3498db;
      width: 15px;
      height: 15px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .ion-ios-information{
        font-size: 15px;
        color: #2927B2;
        cursor: pointer;
    }
    
    .reference-field {
        border-radius: 3px;
        border: 2px dashed #b7eaee;
        padding: 16px;
        margin-top: 12px;
        
          .reference-elements {
            border-radius: 3px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            padding: 14px 24px;
            display: flex;
            align-items: center;
            margin: 0px;
            transition: 0.2s all;
        
            .person-img{
                margin-left: 0;
                width: 30%;
                font-size: 14px;
                color: #43515c;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                .img-holder{
                    width: 44px;
                    height: 44px;
                    display: block;
                    border-radius: 50px;
                    background-size: cover !important;
                    background-position: center !important;
                    margin-right: 10px;
                    background-color: #cacaca;
                }
            }
    
            .card-name{
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .icon-icons-cms-70{
                width: 30px;
                height: 30px;
                fill: #b5c2ca;
                margin: 0 16px;
                cursor: pointer;
            }
        }
    }
    
    .tool-tip {
        position: relative;
      }
      
      .tool-tip .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color:  #2927B2;
        color: #fff;
        text-align: center;
        padding: 8px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 120%;
      }
      
      .tool-tip:hover .tooltiptext {
        visibility: visible;
      }
        
        .caas-settings-container {
        padding: 0 15px 0 15px;
        margin-bottom: 10px;

            label{
                i{
                    cursor: pointer;
                }
            }

            .preview-settings-footer{
                .btn.plain-button.cancel{
                    float: left;
                    height: 36px;
                    width: 90px;
                    margin: 0px;
                }
    
                .btn.primary-button.save-button{
                    float: right;
                    height: 36px;
                    width: 90px;
                }
            }
        }
       
        .caas-body {
    
        .static-filter-container,
        .static-content-list-edit {
            @include cardListRearrange();
            .card-list-item,
            .card-list-item a{
                position: relative;
                text-transform: capitalize;
                small{
                    display: inline;
                }
            }
            .card-list-item{
                .icon{
                    padding-top: 22px;
                }
                .trashBtn{
                    right: 12px;
                }
            }
            .margin-20 {
            margin: 20px;
            }
            a.add-link {
            margin-left: 120px;
            }
            .cardItem {
            cursor: pointer;
            border-bottom: solid 1px #e8eff57a;
            transition: 0.5s all;
            &:hover {
                background: #f0fafb;
                border-radius: 3px;
                i {
                color: #00a8b6;
                }
    
                a.pull-right {
                display: block;
                // left: -20px;
                position: relative;
                top: 5px;
                }
            }
            small.form-text.text-muted {
                position: relative;
                &.cont-status {
                width: 100%;
                display: block;
                i {
                    display: none;
                }
                &.unpublished i {
                    color: #fa6c5e;
                    display: block;
                    font-style: normal;
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: 2px;
                    margin-right: 5px;
                }
    
                span {
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    background: #52c8aa;
                    border-radius: 50px;
                    margin-right: 4px;
                }
    
                &.draft span {
                    background: #fff;
                    border: 1px solid #ffba65;
                }
                }
            }
    
            a.pull-right {
                display: none;
            }
            }
        }
    
            .card-container {
            min-height: 200px;
            border-radius: 8px;
            border: dashed 2px #b7eaee;
            margin-bottom: 32px;
    
            .filter-text-row{
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 20px;
                margin-bottom: 10px;
                a {
                margin-left: 35%;
                }
            }
            }
    
            /* padding: 0; */
            max-height: none !important;
            height: 75vh;
            position: relative;
            background: #fff;
    
            &.caas-content-body {
            padding: 24px;
            }
    
            .add-ckeditor {
            height: auto;
            max-height: 70px;
            min-height: 40px;
            overflow: auto;
            border-radius: 3px;
            border: solid 1px #e8eff5;
            padding: 9px;
                }
    
            .multi-select {
            button.form-control{
                height:40px;
            }
            }
            .multi-drop-down {
    
            &.dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                display: none;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 14px;
                text-align: left;
                background-color: #fff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                background-clip: padding-box;
    
                position: absolute !important;
                max-height: 315px !important;
                border: 1px solid #b2e7e9 !important;
                background-color: #ffffff;
                z-index: 5;
                margin-top: 0 !important;
                padding: 0 !important;
                width: 100% !important;
                left: 15px;
            }
    
            .search-input{
                padding: 10px;
                border-bottom: 1px solid #edf3f4;
                input {
                /* margin-bottom: 5px; */
                width: 100%;
                height: 40px;
                border-radius: 2px;
                border: solid 1px #e8eff5;
                font-size: 14px;
                margin-top: 8px;
                color: #43515c;
                margin-right: 10px;
                margin-bottom: 0px;
                }
            }
    
            ul {
                /* padding: 10px; */
                /* overflow-y: auto; */
                /* max-height: 150px; */
                display: block;
                max-height: 240px;
                overflow: auto;
                li {
                label {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 8px 10px;
                    text-transform: capitalize;
                    width: 100%;
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.3px;
                    color: #8ea4b0;
                    text-transform: capitalize;			    
                    &:hover {
                    background-color: #b2e7e9;
                    }
                }
                }
            }	    
    
            width: 180px;
            padding: 5px;
            margin-top: 0;
            border-top: none;
            border-radius: 0;
            width: 100%;
            }
    
            .header-text {
            text-transform: uppercase;
            }
    
            .sr-choosefilters {
            .form-control {
                height: 40px
            }
            }
    
            .custom-select {
    
            .btn.default-button {
                height: 40px;
                min-height: 40px;
    
                span.seleted-options {
                margin: 0;
                padding: 0px;
                text-align: left;
                }
            }
            }
    
            .cicon-check-status {
            font-size: 16px;
            background-color: #2927B2;
            color: white;
            border-radius: 50%;
            height: 15px;
            }
    
            .circle {
            width:  16px;
            height: 16px;
            border-radius: 100%;
            border-color: #c4edf1;
            }
    
            .m-t-5 {
            margin-top: 5px;
            }
    
            .m-b-5 {
            margin-bottom: 5px;
            }
    
            hr {
            border-top: 1px solid #e8eff5;
            margin-top: 7px;
            margin-bottom: 30px;
            }	
    
            .padding-trim {
            padding-top: 0px;
            padding-bottom: 0px;
            }

            .content-wrapper-area.tag-area{
                margin: 0px;
                padding: 0px;
            }
            .content-wrapper-area{
                .form-group {
                    margin-bottom: 32px;
        
                    p.personalization-label{
                        color:#b0bdc6;margin:8px 0px 0px 0px;   
                    }
                    .custom-select .dropdown-menu {
                        overflow: hidden;
                        ul {
                            padding-bottom: 6px;
                        }
                    }
        
                    .multi-select .custom-select {
                        .btn.default-button {
                            display: flex;
                            span.seleted-options {
                                background: #e8eff5;
                                color: #8fa4af;
                                display: inline-block;
                                margin: 2px;
                                padding: 4px 20px 4px 10px;
                                border-radius: 50px;
                                position: relative;
                                width: fit-content;
                                .icon {
                                    margin-left: 4px;
                                    cursor: pointer;
                                    position: absolute;
                                    right: 7px;
                                }
                            }
                        }
                        .dropdown-menu li > label .checkbox {
                            margin-top: 1px;
                        }
                    }
                    .custom-select {
                        margin-top: 8px;
                        .btn.default-button {
                            height: 40px;
                            min-height: inherit;
                            text-align: left;
                            padding: 3px 6px;
                            span.carets svg {
                                top: 4px;
                            }
                        }
                        .seleted-options {
                            margin: 0;
                            padding: 0;
                        }
                    }
        
                    .custom-select .dropdown-menu {
                        border: 1px solid #e8eff5;
                        border-radius: 0;
                        box-shadow: none;
                        border-radius: 10px;
                        background: #FFF;
                        box-shadow: 0px 2px 5px 0px rgba(12, 11, 59, 0.14), 0px 1px 10px 0px rgba(12, 11, 59, 0.12), 0px 2px 4px 0px rgba(12, 11, 59, 0.20);
                        ul li label:hover {
                            background-color: #EAE8FB;
                            color: #2927B2;
                        }
                    }
                }
            }
        }
    
        .ai-dialog-footer {
            padding: 9px 24px 12px;
        }
    
        .height-auto {
            height: auto;
            min-height: 34px;
        }
        .header-text {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            color: #43515c;
        }
    
        .compositetype-container {	
    
            .btn{
    
            &.img-replace-btn {
                min-height: auto;
                width: 152px;
                height: 32px;
                border-radius: 3px;
                background-color: #b7eaee;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: center;
                color: #008894;
                margin-top: 16px;
            }
            &.img-remove-btn {
                height: 32px;
                border-radius: 3px;
                border: solid 0.7px #2927B2;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: center;
                color: #2927B2;
                margin-top: 16px;
                margin-left: 24px;
                font-size: 12px;
            }

            &.img-edit-btn{
                min-height: auto;
                background-color: white;
                border-color: rgb( 1,178,192);
                color: rgb( 1,178,192);
                width: 152px;
                float:right;
                }
            }

            p.cropName{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0px;
            }
    
            /* input.form-control-side { */
            /* 	min-width: 155px; */
            /* } */
            
            /* border: 2px dotted #e6e6e6; */
            .default-img-wrapper {
            padding: 0;
            margin-top: 0;
            margin-left: -23px;
            margin-right: -18px;
            img {
                max-width: 100%;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .img-def-as {
                min-width: 138px;
                &.img-placeholder {
                width: 100%;
                height: 180px;
                background-color: #f1f1f1;
                span.def-img-edit a {
                    height: 182px;
                }
                }
            }
    
    
            }
    
        }    
    
        .ion-checkmark-circled {
            width: 12px;
            height: 12px;
            color: #2927B2;
        }
    
        .ion-ios-circle-outline {
            width: 12px;
            height: 12px;
            color: #2927B2;
        }
    
        .ext-padd {
            padding-top: 20px;
             margin-top: 32px;
             border-top: solid 1px #e8eff5;
        }
        h2.header-label {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.28px;
            color: #43515c;
            text-transform: uppercase;
            padding-bottom: 18px;
            margin-top: 8px;
        }
    }
}

.mb-32{
    margin-bottom: 32px;
}

.tags-area {
    padding-bottom: 50px;
    ul.tags{
      position: relative;
      border-radius: 2px;
      padding: 11px 60px 3px 8px;
      border: solid 1px rgba(197, 214, 230, 0.7);
    }
    .tag-item {
      float: left;
      font-size: 0;
      height: 24px;
      min-height: 20px;
      border-radius: 12.5px;
      background-color: #e8eff5;
      display: inline-block;
      padding-top: 6px;
      padding-left: 8px;
      padding-right: 6px;
      span {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.25px;
        color: #8ea4b0;
        vertical-align: top;
      }
    }
    li {
      margin-left: 8px;
      margin-bottom: 8px;
      input {
        margin: 0;
        border: 0;
        min-width: 75px;
        padding-left: 0;
        max-width: 552px;
        min-height: 24px;
        height: 24px;
      }
    }
    .add-button {
      position: absolute;
      right: 20px;
      top: calc(50% - 8px);
      width: 32px;
      height: 16px;
      font-size: 12px;
      line-height: 1.33;
      text-align: right;
    }
  }
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.content-preview{
    .image-crop-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #00000045;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        .image-crop-sec {
            width: 90vw;
            height: 90vh;
            background: white;
            border-radius: 4px;
            overflow: hidden;
        }
        .crop-header {
            width: 100%;
            height: 64px;
            background-color: #43515c;
            padding: 21px 24px;
            h2 {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.33;
                letter-spacing: 0.19px;
                color: #ffffff;
                margin: 0;
                svg {
                    fill: #fff;
                    width: 24px;
                    height: 24px;
                    float: right;
                    cursor: pointer;
                }
            }
        }
        .crop-left-sec {
            width: calc(100% - 376px);
            height: calc(90vh - 64px);
            padding: 3% 5%;
            float: left;
            overflow-x: overlay;
        }
        .crop-right-sec {
            width: 376px;
            padding: 32px 24px;
            float: left;
            height: calc(90vh - 64px);
            border-left: solid 1px #b0bdc673;
            h2 {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.14;
                color: #43515c;
                margin: 0;
                text-transform: uppercase;
                letter-spacing: .5px;
            }
            label {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.14;
                letter-spacing: 0.28px;
                color: #8ea4b0;
                display: block;
                &.top-label {
                    margin-bottom: 8px;
                    margin-top: 30px;
                }
            }
            .custom-select {
                .btn.default-button {
                    height: 40px;
                    min-height: inherit;
                    border: solid 1px #e8eff5;
                    text-align: left;
                    border-radius: 10px;
                    border: 1px solid #D1D5DC;
                    background: #FFF;
                }
                .seleted-options {
                    margin: 0;
                    padding: 0;
                }
            }
            .sap-text {
                margin-top: 16px;
                > div {
                    position: relative;
                    float: left;
                    span {
                        font-size: 14px;
                        letter-spacing: 0.15px;
                        position: absolute;
                        right: 12px;
                        top: 10px;
                        color: #b0bdc6;
                    }
                }
                svg {
                    width: 39px;
                    fill: #b0bdc6;
                    height: 30px;
                    float: left;
                    margin-top: 6px;
                }
                input[type="text"] {
                    width: 144px;
                    height: 40px;
                    border-radius: 3px;
                    border: solid 1px #e8eff5;
                    background-color: #ffffff;
                    padding: 10px;
                }
            }
            .crop-action {
                margin-top: 16px;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: solid 1px #e8eff591;
                > div {
                    float: left;
                    width: 50%;
                    max-width: 144px;
                    label {
                        font-size: 14px;
                        line-height: 1.14;
                        color: #8ea4b0;
                        margin-bottom: 16px;
                    }
                    span {
                        width: 64px;
                        height: 40px;
                        border-radius: 3px;
                        border: solid 1px #e8eff5;
                        background-color: #ffffff;
                        display: inline-block;
                        cursor: pointer;
                        &:nth-of-type(2) {
                            margin-left: 12px;
                        }
                        svg {
                            fill: #b0bdc6;
                            width: 28px;
                            height: 38px;
                            margin: 0 auto;
                            display: block;
                        }
                        &.rotate-in svg {
                            transform: rotate(90deg);
                        }
                        &.text-icon {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            float: left;
                            svg {
                                display: inline;
                                width: 25px;
                                height: 25px;
                                margin: 0 4px;
                            }
                            &.flip-in svg {
                                transform: rotateY(180deg);
                            }
                        }
                    }
                }
            }
        }
    }


    .reference-field {
        border-radius: 3px;
        border: 2px dashed #b7eaee;
        margin-top: 12px;
    
          .reference-elements {
            border-radius: 3px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            padding: 14px 24px;
            display: flex;
            align-items: center;
            margin: 0px;
            transition: 0.2s all;
    
            .person-img{
                margin-left: 0;
                width: 30%;
                font-size: 14px;
                color: #43515c;
                display: flex;
                align-items: center;
                justify-content: flex-start;
    
                .img-holder{
                    width: 44px;
                    height: 44px;
                    display: block;
                    border-radius: 50px;
                    background-size: cover !important;
                    background-position: center !important;
                    margin-right: 10px;
                    background-color: #cacaca;
                }
            }
    
            .card-name{
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .icon-icons-cms-70{
                width: 30px;
                height: 30px;
                fill: #b5c2ca;
                margin: 0 16px;
                cursor: pointer;
            }
        }
    }

    .input-content b {
        font-size: 12px;
        line-height: 1.33;
        color: #c4d4d7;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-weight: normal;
    }
}