.custom-select {
  position: relative;
  .btn.default-button {
    width: 100%;
    display: block;
    min-height: 57px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #D1D5DC;
    background: #FFF;
    span.caret {
      top: 45%;
      position: absolute;
      right: 15px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      border: 1px solid $border-color-special;
      color: $button-default-text-color;
      outline: 0;
      border-radius: 10px;
      border: 1px solid #D1D5DC;
      background: #FFF;
    }
    span.option-button-img {
      width: 25px;
      height: 25px;
      @include borderRadius(50px);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      top: 7px;
      margin-right: 10px;
      margin-top: -5px;
    }
  }
  &.open {
    .btn.default-button {
      border: 1px solid #4D3EE0;
      color: $button-default-text-color;
      border-radius: 10px;
      border: 1px solid #D1D5DC;
      background: #FFF;
      
    }
  }
  .seleted-options {
    padding: $space-xs $space-sm;
    font-size: 14px;
    float: left;
    background-color: $button-default-bg-color;
    margin: $space-sm $space-md $space-sm 0;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .optSelectedText {
      display: inline-block;
      vertical-align: middle;
      @include text-ellipsis();
    }
    .icon {
      margin-left: $space-xs;
      cursor: pointer;
      &:before {
        vertical-align: middle;
      }
      &:hover {
        color: $text-color-special;
      }
    }
    .socialIcons {
      .i {
        position: relative;
        top: 5px;
        font-size: 20px;
      }
    }
  }
  .dropdown-menu {
    position: absolute;
    max-height: 300px;
    border: 1px solid $bg-color-special-secondary;
    background-color: $bg-color-special-white;
    z-index: $header-zindex + 4;
    margin-top: 0;
    padding: 0;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(12, 11, 59, 0.14), 0px 1px 10px 0px rgba(12, 11, 59, 0.12), 0px 2px 4px 0px rgba(12, 11, 59, 0.2);
    .search-input {
      padding: 10px;
      border-bottom: 1px solid $border-color-default;
      input {
        margin-right: 10px;
        margin-bottom: 0px;
      }
    }
    ul {
      display: block;
      max-height: 240px;
      overflow: auto;
      li {
        label {
          margin-top: 0;
          padding: 8px 10px;
          text-transform: capitalize;
          width: 100%;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            background-color: #F1F3F4;
          }
          &:active {
            background-color: #2927B2;
          }
          &.thumb-in {
            padding-top: 0;
          }
          span.option-thumb-img {
            width: 25px;
            height: 25px;
            @include borderRadius(50px);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            position: relative;
            top: 8px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
