.cms-header{
//	overflow: hidden;
	z-index: $header-zindex;
	ul{
		& > li{
			float: left;
			position: relative;
			& > a {
				display: block;
				padding: $site-top-navbar-element-common-padding;
				color: $header-text-color;
				border-right: 1px solid $header-border-color;
				@include text-ellipsis();
				position: relative;
				& > .icon {
					font-size: 16px;
					padding-left: 10px;
					padding-right: 10px;
					line-height: normal;
				}
			}
			&:hover,
			&:active,
			&:focus,
			&.active{
				& > a {
					background-color: $header-link-hover-color;
				}
			}
			&.device-mode {
				min-width: 75px;
				text-align: center;
				ul.device-mode-in {
					display: none;
					position: absolute;
					background-color: $header-bg-color;
					left: 0;
					top: $site-top-navbar-element-min-height;
					li {
						width: 100%;
						min-width: 75px;
						a {
							border: none;
							text-align: center;
							&:hover {
								background-color: $header-bg-color;
							}
						}
					}
				}
				&:hover > ul.device-mode-in { 
					display: block;
					background-color: $header-link-hover-color;
				}
			}
			&.page-name:hover > a::after,
			&.tenant-name:hover + li > a::after {
				display: none !important;
			}
			&.device-mode > a {
				padding: 17.5px 20px;
			}
		}
	}
	.navbar{
		background-color: $header-bg-color;
		margin: 0 auto;
		border: 0;
		max-height: $site-top-navbar-element-min-height;
		.header-container{
			.navbar-header{
				white-space: nowrap;				
				li{
					a{
						border: none;
					}
					&.logo{
						max-width: 200px;
						a{
							padding: 10px 8px 11px 13px;
							border-right: 1px solid $header-border-color;
						}
					}
					&.tenant-name{
						max-width: inherit;
					}
					&.page-name{
						max-width: inherit;
						font-weight: 600;
						> a {
							&::after {
								content: "";
								display: block;
								height: 20px;
								width: 1px;
								background: $text-color-white;
								opacity: .8;
								position: absolute;
								top: 17px;
								left: 0;
							}
						}
					}
				}
			}
		}
		.header-container{
			&.tier-blog-class{
				pointer-events: none;
			}
		}
		.cms-device-menu{
			float: left;
			& > ul{				
				& > li{
					&:first-child{
						a{
							border-left: 1px solid $header-border-color;
						}						
					}
					&.kind-of-user{
						position: relative;
						width: 160px;
						> ul{
							position: absolute;
							width: 100%;
							top:-9999px;
							visibility: hidden;
							background-color: $header-bg-color;
							@include transition(0.25s ease);
							li{
								display: block;
								border-right: 0;
								float: none;
							}
						}
						&:hover{
							> ul{
								top: auto;
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
		.cms-account-info{			
			float: right;
			& > ul{
				& > li{
					&:first-child{
						a{
							border-left: 1px solid $header-border-color;
						}						
					}
					&:last-child{
						& > a{
							border-right: 0px;
						}
					}
					&.lang{
						position: relative;
						width: 175px;
						> ul{
							position: absolute;
							width: calc(100% + 50px);
							top:-9999px;
							visibility: hidden;
							background-color: $header-link-hover-color;
							@include transition(0.25s ease);
							max-height: 296px;
							overflow-y: overlay;
							li{
								display: block;
								border-right: 0;
								float: none;
								a {
									padding: 9px 20px;
									font-size: 13px;
									border-bottom: solid 1px #0d9ca4;
								}
								&.active{
									a{
										background-color: $header-link-hover-color-primary;
									}
								}
								&:hover a {
									background-color: $header-bg-color;
								}
							}
						}
						&:hover{
							> ul{
								top: auto;
								opacity: 1;
								visibility: visible;
							}
						}
						.custom-select {
							.btn.default-button {
								background: #1da8b6;
								border: none;
								padding: 0;
								height: 55px;
								min-height: 55px;
								border-right: 1px solid #098289;
								border-left: 1px solid #098289;
								> span {
									color: white;
									background: none;
									display: flex;
									&.carets svg {
										fill: #fff;
										margin-top: 7px;
									}
								}
								&:hover {
									background: #098289;
								}
							}
						}
					}						
				}
			}
			.nya-bs-select.btn-group{
				border-left: 1px solid $header-border-color;
				@include borderRadius(0);
				.caret{
					border-color: $bg-color-special-light transparent;
				}
				& > .btn:first-child{
					color: $header-text-color;				
					background-color: transparent;
					border: 0;
					padding-bottom: 20px;
					padding-top: 20px;
					@include borderRadius(0);
					&:hover{
						background-color: $header-link-hover-color;
					}
				}								
			}
			.dropdown-menu{
				width: 100%;
				padding: 0;
				min-width: 100%;
				li{
					width: 100%;
					&.active
					{
						a{
							color: $header-text-color;
						}	
					}
					a{
						color: $text-color-default;
						border: 0;
						&:hover,
						&:focus,
						&:active
						{
							color: $header-text-color;
						}
					}
				}				
			}
			.user-actions{
				//span{
					float: left;
					position: relative;
					& > a{
						padding: $site-top-navbar-element-common-padding;
						display: block;
						overflow: hidden;
						// border-left: 1px solid $header-border-color;
						.user-name{
							color: $header-text-color;
							min-width: 80px;
							display: inline-block;
						}						
						.caret{
							margin: 7px 10px; 
							border-color: $bg-color-special-light transparent;
						}						
					}
					.dropdown-menu{
						margin: 0;
						@include borderRadius(0);
						left: auto;
						right: 0;
						li{
							a{
								color: $text-color-heading;
								&:hover,
								&:focus,
								&:active{
									background-color: $bg-color-special-light;
									color: #fff;
								}
							}
						}
					}
					&:hover{
						.dropdown-menu{
							display: block;
						}
					}
				}
			}
	}
	.choices {
		.choices__inner {
			background: transparent;
			border: none;
			border-right: 1px solid $header-border-color;
			border-left: 1px solid $header-border-color;
			@include borderRadius(0);
			min-height: $site-top-navbar-element-min-height;
			display: flex;
			align-items: center;
			color: white;
			font-weight: bold;
			&:hover {
				background: $header-link-hover-color;
			}
		}
		&.is-open .choices__inner {
			background: $header-link-hover-color;
		}
		.is-focused, 
		.is-open  {
			.choices__inner {
				border-color: $header-border-color;
			}
		}
		.choices__list--dropdown {
			border: none;
			margin-top: 0px;
			width: calc(100% + 47px);
			background: $header-link-hover-color;
			color: $header-text-color;
			.choices__item {
				padding: 10px !important;
				border-bottom: 1px solid #0d9ca4;
			}
			.choices__item--selectable {
				&.is-highlighted {
					background-color: $header-bg-color;
					font-weight: bold;
				}
				&:after {
					display: none;
				}
			}
			.choices__list {
				max-height: 320px;
			}
		}
		.choices__input {
			display: block;
			width: 100%;
			padding: 10px;
			border: 1px solid $bg-color-special-light;
			background-color: $bg-color-special-light;
			margin: 0;
		}
		&[data-type*=select-one]:after {
			content: "";
			border-color: $text-color-white transparent transparent transparent;
		}
		&[data-type*=select-one].is-open:after {
			content: "";
			border-color: transparent transparent $text-color-white transparent;
		}
	}
}