//
// Variables
// --------------------------------------------------

//font family

$font-family-primary-reular: 			'Poppins', sans-serif;
$font-family-primary-light: 			'Poppins', sans-serif;
$font-family-primary-bold: 		    	'Poppins', sans-serif;




$brand-color: 							#00a9b7;
$brand-color-primary:                   #0097a3;
//== Colors
//

$text-color-special: 					$brand-color;
$text-color-default: 					#81858f;
$text-color-heading: 					#54575e;
$text-color-light:	 					#85878c;
$text-color-lighter: 					#c3c6cf;
$text-color-bold: 						#596977;
$text-color-white:						#ffffff;
$text-color-white-opecity:              rgba(255,255,255,0.8);

$text-color-danger: 					#d14836;

$input-placeholder-color:				#d5d6da;


$font-path:                             './fonts';

//== font sizes
//

$heading-font-size-h1:					26px;
$heading-font-size-h2:					22px;
$heading-font-size-h3:					20px;
$heading-font-size-h4:					18px;

$text-font-size-small: 					12px;
$text-font-size-default:				14px;
$text-font-size-16:						16px;
$text-font-size-18:						18px;
$text-font-size-20:						20px;

$icon-font-size-14:						14px;
$icon-font-size-16:						16px;
$icon-font-size-18:						18px;
$icon-font-size-20:						20px;

$text-font-size-vw-1:                   1.3vw;

/* ------------------ Progress bar------------------*/

$progree-bar-bg-color:					#cecfd1;
$progree-bar-progress-color:			$brand-color;


//== z-index
//
$header-zindex:							1;
$footer-zindex:							2;
$left-nav-zindex:						3;

$modal-popup-zindex:                    1040;

//== Border colors
//
$border-color-special-light:			#00b7c6;
$border-color-special-dark:			    #019ca9;
$border-color-default:					#e6e7e8;
$border-color-white:					#ffffff;
$border-color-primary:					#d2d4cd;

//== Bg colors

$bg-color-special-one:                  #99e7ed;
$bg-color-special-two:                  #01c2d3;
$bg-color-special-three:                #f9fcfc;
$bg-colo-special-four:                  #29B3BE;

$bg-color-primary-one:                  rgba(102, 102, 102, 1);


//== Side Sub navbar
//

$side-sub-navbar-bg-color:						#22252c;
$side-sub-navbar-text-color:					#65686f;
$side-sub-navbar-hover-text-color:				#FFFFFF;
$side-sub-navbar-heading-border-color: 			#6c6f77;
$side-sub-navbar-border-color: 					#353b42;
$side-sub-navbar-dropdown-link-bgcolor:			#22252c;
$side-sub-navbar-dropdown-text-color:			#42454c;
$side-sub-navbar-dropdown-link-border-color:	#41444b;
$side-sub-navbar-font-size-default:				16px;
$side-sub-navbar-dropdown-font-size-default:	14px;


//button

$button-default-text-color:				#464F5E;
$button-default-text-hover-color:		#bbbcbe;
$button-default-bg-color:				#ffffff;
$button-default-bg-hover-color:			#ffffff;
$button-default-border-color:			#d5d6da;

$button-primary-text-color:				#FFFFFF;
$button-primary-text-hover-color:		#FFFFFF;
$button-primary-bg-color:				#3C6D68;
$button-primary-bg-hover-color:			#1D3734;
$button-primary-border-color:			#3C6D68;

$button-plain-text-color:				$brand-color;
$button-plain-text-hover-color:			$brand-color;
$button-plain-bg-color:					#FFFFFF;
$button-plain-bg-hover-color:			#F5F5F5;
$button-plain-border-color: 			#3C6D68;

$button-cancel-bg-hover-color:			#dd513a;

$button-warning-bg-color: 				#b34330;

$space-xxs:                             2px;
$space-xs:                              4px;
$space-sm:                              8px;
$space-md:                              12px;
$space-lg:                              16px;


/* ------------------------Modal popup variables --------------*/

$modal-container-bg-color-default:		#ffffff;

$modal-header-bg-color-default:			#ffffff;

$modal-text-color-default:				#85878c;
//$modal-text-color-primary:			#333333;
//$modal-text-color-light:				#666666;


$modal-heading-text-color-default:		#54575e;
$modal-heading-border-color-default:	#f2f3f3;

//border color variables

$modal-border-color-default: 			#e6e7e8;
$modal-border-color-primary:  			#b7b7b7;
$modal-border-color-light:    			#f2f3f3;
$edit-tool-box-shadow:                  0px 0px 0px 1px rgba(114,114,114,0.18);



