ai-dialog-container,
ux-dialog-container{
    &.add-role-mgr.cms-modal-mgr{
        max-width: 1440px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.add-role-mgr{

}
.cms-admin-add-role-mgr{
    .ac-label{
        @include text-ellipsis();
    }
}