.cms-list-manager-component{
    .list-manager-area{

    }
    .inner-page-container-list-manger{
      min-height: unset;
      padding-bottom: 30px;
    }
    .choose-item-area{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: -$space-sm;
            top: 0;
            bottom: 0;
            border-right: 1px solid $border-color-primary;
        }
        li{
            a{
                display: block;
                padding: $space-md $space-lg;
                color: $text-color-default;
                .icon{
                    display: none;
                    float: right;
                }
            }
            &:hover,
            &:focus,
            &.active{
                a{
                    background-color: $bg-color-lighter;
                    color: $text-color-heading;
                    .icon{
                        display: block;
                    }
                    
                }
            }
        }
    }
    .selected-item-cntr{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            left: -23px;
            top: 0;
            bottom: 0;
            border-right: 1px solid $border-color-primary;
        }
        .tab-actions{
            // margin-bottom: $space-lg;
           .btn-group {
               a{
                //    width: 125px;
                   &.active {
                        background-color: $bg-color-special;
                        color: $text-color-white;
                    }
               }
           }
        }
        .tab-content{
            padding: $space-lg;
        }
        .selected-list-item-details{
            .form-group{
                margin-bottom: $space-lg*2;
                input,
                textarea{
                    max-width: 650px;
                }
            }
            .empty-video-container{
              min-height: 150px;
              max-width: 250px;
              border: 2px solid;
              background-color: #524e4e;
              padding: 54px;
              span{
                color: white
              }
            }
            .video-box{
              max-width: 350px;
            }
        }
        .sub-heading{
            border-bottom: 1px solid $border-color-primary;
            margin-bottom: $space-lg + $space-sm;
            padding-bottom: $space-xs;
        }
    }
}