@import "../../../variable.scss";

.widget-container {
  &.detailed {
    margin: 40px 23px;
  }

  &.summary {
    margin: 40px 23px;
  }

  &.list {
    margin: 16px 24px;
  }

  .show-more-content {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2927b2;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.25px;

    &.list {
      margin-top: 0px;
      padding-bottom: 16px;
    }

    .open-img {
      width: 18px;
      height: 18px;
      margin-left: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .show-less-content {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2927b2;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.25px;

    &.list {
      margin-top: 0px;
      padding-bottom: 16px;
    }

    .close-img {
      width: 18px;
      height: 18px;
      margin-left: 8px;
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .summary-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .list-card-container {
    width: 260px;
    background-color: white;
    border-radius: 10px;
    padding: 16px 16px 0 16px;

    .extra-info-redirect {
      color: #2927b2;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0.25px;
      border-top: 1px solid #d1d5dc !important;
      padding: 16px 0 20px 0;

      &:hover {
        cursor: pointer;
      }
    }

    .loader-comp {
      padding-bottom: 16px;
    }

    .list-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section-title {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        font-weight: 600;
        color: #464f5e;
      }
      .card-header-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .widget-header {
    display: flex;
    justify-content: space-between;

    .widget-title,
    .widget-link {
      display: flex;
      align-items: center;
      flex-direction: row;
      text-decoration: none;
    }

    .widget-title {
      .title {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        font-weight: 600;
        color: #464f5e;
        margin-right: 8px;
      }

      .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        .info-icon {
          margin-right: 8px;
        }

        .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;

          ::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
        }
        :hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }

      .section-count {
        padding: 4px 6px;
        border-radius: 6px;
        background: #e8eaee;

        color: #464f5e;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.25px;
        margin-left: 8px;
      }
    }

    .widget-redirect {
      cursor: pointer;
      .redirect-text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        font-weight: 600;
        color: #3c6d68;
      }
      .redirect-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
    }
  }

  .card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d5dc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    height: 76px;

    &.detailed {
      width: 100%;
      padding: 18px 16px;
      margin: 16px 0 0 0;
      justify-content: space-between;
    }

    &.clickable {
      cursor: pointer;
    }

    &.summary {
      // width: 200px;
      // padding: 16px 20px 12px 20px;
      width: 23%;
      padding: 16px 0 13.2px 18px;
      margin-right: 1px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: max-content;

      .summary-card-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 4px;

        .title {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.25px;
          font-weight: 500;
          color: #637085;
        }

        .info-icon {
          width: 14px;
          height: 14px;
          margin-left: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .data {
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.18px;
        font-weight: 600;
        color: #464f5e;
      }
    }

    &.list {
      border: none;
      justify-content: flex-start;
      padding: 12px 8px 16px 0px;
      max-height: max-content;
      border-radius: 0px;
      height: max-content;

      &.border-top {
        border-top: 1px solid #d1d5dc !important;
      }

      .card-content-container {
        width: 100%;
        display: flex;

        &.redirect {
          cursor: pointer;
        }

        .list-image-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 58px;
          height: 40px;
          margin-right: 8px;

          .list-image {
            width: 18px;
            height: 18px;
          }
        }
        .card-content {
          width: 100%;
          .title {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            font-weight: 600;
            color: #464f5e;
          }
          .subtitle {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.25px;
            font-weight: 400;
            color: #637085;
            padding: 5px 0 0 0;
            display: flex;
            align-items: center;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .subtitle-icon {
            margin-right: 4px;
          }
        }
      }
    }

    .tile-content {
      display: flex;
      align-items: center;
      // width: 33%;
      &.main {
        width: 48%;
      }
      .list-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 16px;

        .card-icon {
          width: 24px;
          height: 24px;
        }
      }

      .width-100 {
        width: 100%;
        .title-section {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          width: 100%;

          .card-other-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 5px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            font-weight: 600;
            color: #464f5e;
            width: 100%;

            &.border-left {
              border-left: 1px solid #d1d5dc;
              padding-left: 7px;
            }

            &.main {
              font-size: 14px;
              line-height: 24px;
              font-weight: 600;
            }
          }
        }
      }

      .width-100 {
        width: 100%;
        .sub-section {
          display: flex;
          align-items: center;

          .card-other-subtitle {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            font-weight: 400;
            color: #8c95a8;
            margin-right: 5px;
            overflow: hidden;

            &.border-left {
              border-left: 1px solid #d1d5dc;
              padding-left: 7px;
            }

            &.main {
              font-weight: 500;
            }

            .subtitle-image {
              width: 10.5px;
              height: 11.67px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

a[title]:hover::after {
  content: attr(title); /* Display the content of the title attribute */
  background-color: black; /* Background color */
  color: white; /* Text color */
  padding: 5px; /* Padding */
  border-radius: 5px; /* Border radius */
  position: absolute; /* Positioning */
  bottom: 100%; /* Positioning */
  left: 50%; /* Positioning */
  transform: translateX(-50%); /* Centering horizontally */
  z-index: 1; /* Ensure tooltip is above other elements */
}

.text-overflow-style {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
