.cms-pages-preview-page .cms-design-preview-page{
	.design-nav-tabs{
		margin-top: 10px;
		display: table;
		width: 100%;
		li{
			display: table-cell;
			vertical-align: bottom;
			width: 33.3333%;
			padding: 2px;
			a{
				background-color: #40454c;
				color: #656971;
				border: 1px solid #40454c;
				text-align: center;
				line-height: 30px;
				display: block;
				font-size: 11px;
			}
			&.active{
				a{
					background-color: transparent;
					border-top: 2px solid #00a9b7;
					color: #fff;
					line-height: 36px;
				}
			}
		}
	}
	.style-title{
		float: left;
		width: 70%;
		margin: 5px 0 0;
		@include text-ellipsis;
	}
	.style-type{
		float: left;
		width: 30%;
		text-align: right;
		input[type="text"]{
			width: 100%;
		}
		input[type="color"]{
			border: none;
			padding: 0;
			height: 30px;
			width: 30px;
			background-color: transparent;
		}
	}
	.nav-list-view{
		top: 100px;
		bottom: 65px;
		li{
			a {
				.caret{
					float: right;
					margin-top: 5px;
				}
			}
			& > ul{
				display: none;
				li{
					border-bottom: 1px solid #343b43;
					color: #666972;
					padding: 10px;
					display: block;
					&:after,
					&:before {
						content: "";
						display: table;
					}
					&:after{
						clear: both;
					}
				}
			}
			&.open{
				& > a{
					background-color: #00a9b7;
					color: #fff;
				}
				& > ul{
					display: block;	
				}
			}
			
		}
	}
	.action-btn-group{
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		text-align: center;
	}
} 