.cms-category-content-edit-mgr{
    .right-form,
    .left-form{
        position: relative;
        &:after{
            content: "";
            height: 100%;
            width: 1px;
            position: absolute;
            top: 0;
            background-color: $border-color-default;
        }
    }
    .left-form{
        &:after{
            right: -15px;
        }
    }
    .right-form{
        padding-left: 40px;
        &:after{
            left: 14px; 
        } 
    }
    .li-item{ 
        padding: $space-sm;
        border: 1px solid $border-color-default;
        margin-bottom: $space-md;
        cursor: pointer;
        .cat-title{
            @include text-ellipsis();
            max-width: 78%;
            display: inline-block;
        }
    } 
    .li-settings{
        padding: $space-xs;
    }
    ai-dialog-body{
        min-height: 200px;
        position: relative;
    }
    .img-group{
        img{
            max-height: 75px;
            cursor: pointer;
        }
        .icon{
            font-size: 100px;
            vertical-align: top;
        }
    }
    .action-btn-group{
        margin-top: 50px;
    }
    .file-upload-ctr{
        max-width: 70%;
        margin: 0 auto;
        .back-to-view{
            text-align: right;
            display: block;
        }
    }
} 