// .cms-edit-modal-container.cms-slider-list-modal{
//     max-width: 500px;
//     min-width: 300px;
//     width: 100%;
//     right: 15px;
//     margin: 0 0 0 auto;
//     height: 90%;
//     bottom: 0;
//     top: auto;
// }

.cms-job-lst-settings-mgr{
     ai-dialog-header {
        background: #2927B2;
        border-radius: 4px 4px 0 0;
        h3{
            color: white;
        }
     }
    ul.nav-tabs{
        padding: 10px 10px 0 10px;
        border-bottom: 2px solid #d9e1e8;
        background: #f7fafb;
        margin-bottom: 0px;
        li{
            a{
                background: none;
                padding-bottom: 14px;
                color: #d9e1e8;
                &:hover{
                    border: none;
                    // border-bottom: 2px solid #00a8b7;
                }
                &:active{
                    border: none;
                    background: none;
                }
            }
        }
        li.active{
            a{
                background: none;
                &:hover{
                    border: none;
                    border-bottom: 2px solid #00a8b7;
                }
            }
        }
    }
    ai-dialog-body{
        padding: 0px;
        .tab-content{
            .genereal-settings{
                margin: $space-md*2;
                .tab-pane{
                    .form-group{
                        .input-check-group{
                            span{
                                display : table-cell;
                            }
                            .labelText{
                                .description{
                                    opacity: 0.46;
                                }
                            }
                        }
                    }
                }
            }
            .tab-pane{

                .cms-job-fields-mgr, .cms-job-actions-mgr{
                    .card-level-settg-mgr{
                        display: block;
                        overflow-y: auto;
                        max-height: 350px;
                        .left-column{
                            background: none;
                            padding: 0px 0px 0px 0px;
                            border-right: 2px solid;
                            display: block;
                            float: left;
                            .Job-field-title{
                                padding: $space-md $space-md*2;
                                border-bottom: 1px solid #dbe5e7;
                               font-size: $heading-font-size-h3;
                            }
                            .card-list-area{
                                overflow-y: auto;
                                margin: $space-md $space-xs 0 0;
                                max-height: 300px;
                                .card-list-item{
                                    border-bottom: 1px solid #e3eef0;
                                    margin: 0px;
                                    a{
                                        border: none;
                                        padding:  $space-md $space-md $space-md $space-md*2;
                                        .icon{
                                            position: relative;
                                            margin-right: $space-md;
                                            padding: 0;
                                        }
                                    }

                                }
                                .card-list-item.active{
                                    background: #2927B2;
                                    a{
                                        background: #2927B2;
                                        color: #fff;
                                        .trashBtn{
                                            color : #fff;
                                        }
                                        .icon{
                                            color : #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .right-column{
                            // padding: 0;
                            padding: 0 $space-md*2;
                            display: block;
                            float: left;
                            .job-field-title-name{
                                border-bottom: 1px solid #dbe5e7;
                                padding:$space-md 0;
                                .special-text-color{
                                    display: inline-block;
                                    font-size: $heading-font-size-h3;
                                }
                            }
                            .component-list-area{
                                margin: $space-md 0 0 0;
                                .component-list-item{
                                    .jobFieldTitle{
                                        font-size: $text-font-size-16;
                                        color: #7f9092;
                                    }
                                    .option-list{
                                        input{
                                            min-height: auto;
                                        }
                                        .selected-data{
                                            position: relative;
                                            margin: $space-md 0 0 $space-md*2;
                                            .example-text{
                                                .label-text1{
                                                    color: #7f9092;
                                                    font-size: $text-font-size-small;
                                                }
                                                .label-text2{
                                                    color: #424242;
                                                }
                                            }
                                            .icon-label{
                                                text-align: center;
                                                display: inline-block;
                                                margin: $space-md $space-md*2;
                                                i{
                                                    font-size: $text-font-size-16;
                                                }
                                            }
                                            .icon-list{
                                                margin-bottom:  $space-md*2;
                                                .icon-item{
                                                    border-radius: 2px;
                                                    background: #f6fafa;
                                                    border: 1px solid #e6f4f6;
                                                    padding: $space-md  $space-lg*3;
                                                    cursor: pointer;
                                                    i{
                                                        vertical-align: middle;
                                                        font-size: $text-font-size-16;
                                                    }
                                                }
                                                .icon-item.active{
                                                    background: #2927B2;
                                                    color: #fff;
                                                }
                                            }
                                        }
                                        .selected-data.action-data{
                                            margin: $space-md 0 0 0;
                                        }
                                    }
                                }
                                // padding: $space-md $space-md*2;
                            }
                        }
                    }
                }
            }
        }

    }
    ai-dialog-footer{
        .action-btn-group{
            .btn-cancel{
                border: none;
            }
        }
    }
}
