.media-manager{
    .modal.fade.in{
        display: block;
        z-index: $modal-popup-zindex;
        .modal-dialog{
            margin-top: 100px;
        }
    }
    .cms-media-assets{
        margin-top: 0;
        &.grid-view{
            .media-file-url{
                display: none;
            }
            .media-img{
                .file-name{
                    display: none;
                }
            }
        }

        .media-header{
            border-top: 1px solid $border-color-default;
            border-bottom: 1px solid $border-color-default;
            padding: $space-lg 0;
        }
        .media-img{
            figure{
                vertical-align: middle;
                img{
                    display: inline-block;
                }
            }
            .file-name{
                @include text-ellipsis();
                display: inline-block;
                max-width: 60%;
            }
        }
        .media-file-url{
            textarea{
                height: 0px;
                width: 0;
                opacity: 0
            }
        }
    }
}