.cms-edit-modal-container.cms-save-widget-modal{
    top: 25%;
    .dialog-heading {
        background: $brand-color;
        h3{
            margin: 0;
            color: #fff;
            padding: $space-xs $space-lg;
            font-family: $font-family-primary-light;
        }
    }
    .ai-dialog-body{
        position: relative;
    }
    .after-success{
        min-height: 150px;
        height: 380px;
    }
    .tick-icon{
        text-align: center;
        display: block;
        font-size: 100px;
    }
    .aftr-success{
        font-size: 25px;
        text-align: center;
        display: block;
        color: #383838;
        margin: 20px 0px 10px 0px;
    }
    .save-widget-mgr{
        padding: $space-lg;
        word-break: break-all;
        .ion-android-checkmark-circle{
            color: $text-color-heading;
        }
        .ion-close{
            position: absolute;
            top:30px;
            right:30px;
            color: #000000
        }
    }
    .ion-close{
        color: #fff;
        font-size: $icon-font-size-16;
        line-height: 16px;
        margin-top: 2px;
    }
    .delete-font{
        font-size: 25px;
    }
    .msg{
        text-align: center;
        font-size: 18px;
        word-break: break-word;
    }
    .error-text {
        color: $text-color-danger;
    }
    .form-group input {
        margin: 8px 0;
        &.border-error {
            border: 1px solid $text-color-danger;
        }
    }

    .success-great-btn{
        margin-top: 10px;
    }
}

.cms-widget-preview-page{
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        border-radius: 15px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 15px 0px;
        z-index: 1;
        display: block;
        right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        li {
            text-align: left;
            margin: 8px auto;
            padding-right:15px;
            cursor: pointer; 
            .icon{
                width: 10px;
                display: inline-block;
            }
        }
    }
    
    .fig-caption{
        float: left;
        display: inline-block;
        word-break: break-all;
    }
    .icon-align{
        float:right;
        display: inline-block;
        vertical-align: middle;
        padding-top: 16px;
    }
    .icon-dropdown-align{
        margin: 10px 21px;
    }
}
