.cms-edit-modal-container.cms-slider-list-modal{
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    right: 15px;
    margin: 0 0 0 auto;
    height: 90%;
    bottom: 0;
    top: auto;
}

.cms-slider-lst-edit-mgr{
    .all-widgets{
        img{
            border-radius: 10px;
            border: 1px solid $brand-color;
        }
    }
    .card-list-item:after, .card-list-item:before{
        display: table;
        content: '';
    }
    .setting-data-area{
        padding: $space-lg $space-md*2;
        border-bottom: 1px solid $border-color-default;
        h6{
            color: $text-color-heading;
            margin: 0px;
            display: inline-block;
            font-size: $text-font-size-18;
            &.f-16{
                font-size: $text-font-size-16;
            }
        }
        .component-actions{
            float: right;
            .icon{
                color: $text-color-default;
                font-size: $icon-font-size-20;
                padding-left: $space-md;
            }
        }

        .inner-sett-list{
            ul:after, ul:before{
                display: table;
                content: '';
            }
            ul:after{
                clear: both;
            }
            .radio-p-opt{
                width: 50px;
                height: 50px;
                float: left;
                margin: $space-md;

                img{
                    max-width: 100%;
                }
                p{
                    text-align: center;
                }
                &.active{
                    color: $brand-color;
                    img{
                        border: 1px solid $brand-color;
                    }
                }
            }

            label{
                position: relative;
                input[type="radio"]{
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include opacity(0);
                }
                input:checked + .icon{
                    background-color: $bg-color-special-primary;
                }
                .icon{
                    font-size: $icon-font-size-20;
                    color: $text-color-special;
                    padding: $space-xs $space-md;
                    @include borderRadius(3px);
                    display: inline-block;
                    margin-right: $space-lg;
                    cursor: pointer;
                }
            }
            &.slider-value{
                padding-top: $space-sm;
                &:after{
                    display: table;
                    content: "";
                    clear: both;
                }
                & > label{
                    float: left;
                    width: 80%;
                    margin: 0;
                }
                .actions{
                    float: left;
                    width: 20%;
                    padding-left: $space-md;
                    color: $text-color-heading;
                    text-align: right;
                    margin-top: -$space-sm;
                    .ion-gear-a{
                        color: $text-color-default;
                        font-size: $icon-font-size-20;
                        padding-left: $space-sm;
                        line-height: 18px;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }
                .advanced-values{
                    height: 200px;
                    position: relative;
                    width: 175px;
                    margin: 0 auto;
                    &:after {
                        content: "\f1fe";
                        position: absolute;
                        top: 105px;
                        font-family: Ionicons;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        text-align: center;
                        width: 25px;
                        border: 1px solid #f4f7f7;
                        background-color: #fcfdfd;
                        font-size: $icon-font-size-16;
                        color: #9facae;
                    }
                    label{
                        position: absolute;
                        width: 50px;
                        .form-control{
                            width: 50px;
                            background-color: $bg-color-special-primary;
                            border-color: $border-color-special-light;
                            &:focus{
                                border-color: $brand-color;                               
                                outline: 0;
                                box-shadow: none;
                                
                            }
                        }
                        &:first-child{
                            top: 50px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                        &:nth-child(2){
                            top: 100px;
                            right: 0;
                        }
                        &:nth-child(3){
                            top: 150px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                        &:last-child{
                            top: 100px;
                            left: 0;
                        }
                    }
                }

                
                
                
            }
        }
        
    }
    .add-slide-cntr{
        background-color: $bg-color-special-three;    
        .default-button{
            border-color: $brand-color;
            color: $brand-color;
        }
    }
    &.slide-list{
        max-width: 270px;
        min-width: 200px;
        float: right;
    }
    .ai-dialog-body{
        padding: 0;
        min-height: 250px;
        position: relative;
    }
    .dialog-heading{
        background-color: $brand-color;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        h3{
            //text-transform: uppercase;
            margin: $space-sm $space-lg;
            color: $text-color-white;
            font-size: $text-font-size-16;
        }
    }

    .widget-panel{
        padding-top: $space-md;
        .left-column{
            padding-top: $space-lg;
        }
        .gallery-item{
            a{
                display: block;
                margin-bottom: $space-md;
                background-color: #ffffff;
                color: $text-color-bold;
                padding: $space-sm $space-md;
                border: 1px solid $border-color-default;
                &.active{
                    color: $brand-color;
                    border: 1px solid $brand-color;
                }
            }
        }
    }
    .widget-view-gallery-mgr{
        .view-title{
            color: $brand-color;
            font-family: $font-family-primary-bold;
            @include text-ellipsis();
            font-size: $text-font-size-small;
            text-transform: uppercase;
            padding-top: $space-sm;
        }
        .list-item-view{
            margin-top: $space-lg;
            a{
                display: block;
                border: 2px solid transparent;
                &.active{
                    border: 2px solid $border-color-special;
                }
            }
        }
    }

    .setting-level-mgr{
        & > .action-btn-group{
            padding: $space-lg;
        }

        .setting-heading{
            border-bottom: 1px solid $border-color-primary;
            margin-bottom: $space-md * 2;
            padding-bottom: $space-lg;
        }
    }

    .slide-level-settings-mgr{
        padding: 0% 2.5% 2.5%;
        
        .form-group{
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            .c-50{
                float: left;
            }
        }
    }
    .slide-list-mgmt-mgr,
    .widget-panel{
        display: table;
        width: 100%;
    }
    .left-column{
        display: table-cell;
        width: 30%;
        vertical-align: top;
        padding: 0 $space-lg;
        background-color: $bg-color-lighter;
    }
    .right-column{
        display: table-cell;
        padding: $space-sm $space-md * 2 $space-md * 2;
        width: 70%;
        h3{
            margin-top: 0;
            padding-bottom: $space-lg;
        }
    }

    .slide-list-area{
        margin-bottom: $space-lg;
        .slide-list-item{
            position: relative;
            margin-top: $space-lg;
            &:hover,
            &.active{
                a{
                    border: 1px solid $border-color-special;
                    color: $border-color-special;
                }
            }
            a{
                position: relative;
                display: block;
                background-color: $bg-color-special-white;
                padding: $space-md $space-md $space-md $space-md*3;
                border: 1px solid $border-color-primary;
                color: $text-color-default;
                @include borderRadius(2px);
                @include text-ellipsis();
            }
            .icon{
                position: absolute;
                left: 8px;
                top: 33%;
                color: $text-color-lighter;
            }
            .trashBtn,
            .cloneBtn,
            .add-slide{
                position: absolute;
                padding: 5px 6px;
                right: 2px;
                z-index: 1;
                top: 10%;
                color: $text-color-lighter;
                left: auto;
                font-size: 16px;
                &:hover{
                    color: #c74833; 		
                }
            }
            .cloneBtn{
                right: 24px;
                &:hover{
                    color: $brand-color;
                }
            }
            
            .add-slide{
                right: 26px;
                left: auto;
                color: $border-color-special;
                padding: 4px 6px;
                &:hover{
                    color: $brand-color-primary; 		
                }
            }
        }
        .slide-list-item.active a {
            border: 1px solid #00a8b7;
            color: #00a8b7;
            background-color: #c3edf0;
        }
    }

    .btn.default-button.add-button {
        color: #54575e;
        background-color: #ffffff;
        border: 0px solid #e6e7ea;
        border-width: 0px 0px 1px 0px;
        height: 45px;
        color: #0fbdb0;
        font-weight: bold;
        font-size: 15px;
    }

    .p-0 {
        padding: 0px;
    }

    .p-15 {
        padding-bottom: 40%;
    }

    .w-45 {
        width: 5%;
    }

    .ion-android-close {
        font-size: 20px;
        line-height: 16px;
        margin-top: -2px;
    }

    .cms-btn.cms-primary-button.wctrl.disabled {
        opacity: 1;
        background-color: #56abc5;
    }
}