ux-dialog-container.cms-edit-modal-container.modal-md.unpublished-dialog {
    display: flex;
    align-items: center;
    max-width: 500px;
    .unpublish-page{
        text-align: center;
        ai-dialog-body {
            padding: 40px 0;
        }
        .unpublish-logo{
            height:104px;
            width: 125px;
        }
        .h3{
            color:#424242;
        }
        .unpublish-logo-confirm{
            width: 94.4px;
            height: 92.3px;
            border: solid 1px #ffffff;
            background-color: var(--light-grey-blue);
        }
        .unpublish-btn {
            float: left;
            color: #2927B2;
            border: white;
        }
        .ok-button{
            text-align: center;
        }
        .cicon-alert{
            color: red;
            position: relative;
            top: 2px;
            padding-right: 4px;
        }
    }
}