.widget-checkbox {
    padding: 5px;
    border: 1px solid #e4e1e1;
}

.cms-widget-browser-settings {
    ai-dialog-body {
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 4px;
    }

    ai-dialog-header {
	border-radius: 4px;
	background-color: #00a8b7;
	color: white;
	h2.modal-title {
	    color: white !important;
	}
    }
    .sidebar {
	.list-group {
	    padding-left: 19px;
	    margin-top: 0;
	}
    }

    .sidebad-settings {
		border-left: 1px solid #efe9e9;
		padding: 10px 50px 50px 50px;
		min-height: 450px;
    }
}

.cms-widget-browser-settings-body{
	
	max-height: 450px;

	.cms-widget-browser-success{
		.tick-icon{
			text-align: center;
			display: block;
			font-size: 100px;
		}
		.aftr-success{
			font-size: 25px;
			text-align: center;
			display: block;
			color: #383838;
		}
		.msg{
			text-align: center;
			font-size: 18px;
			word-break: break-word;
		}
		.clossing-button{
			text-align: center;
			padding-bottom: 10px;
			margin: 20px 0px 20px 0px
		}
	}

	.form-group{
		.form-control{
			&.border-error {
				border: 1px solid $text-color-danger;
			}
		}
		.error-text {
			color: $text-color-danger;
		}
	}
	
}

.sidebar {
    padding: 0;
    .list-group-item {
	a {
	    color: #60646c;
	}

	.list-group-item {
	    padding: 0;
	    margin-bottom: 27px;
	    a {
		color: #7c7f87;
		font-weight: 400;
	    }

	}
	border: none;
	// font-family: ProximaNova;
	font-size: 15px;
	text-align: left;
	color: #7c7f87;
	.group-select {
	    width: 4px;
	    height: 20px;
	    background-color: #20a0a7;	    
	    position: absolute;
	    left: -19px;	    
	}
    }

    .list-group-item.select {
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	color: #20a0a7;
	    a {
		color: #00a8b7;
		font-weight: 800;
	    }
    }

    .list-group-item.group {
	// font-family: ProximaNova;
	font-size: 17px;
	font-weight: 600;
	text-align: left;
	color: #60646c;
    }
    .list-group {
	padding-left: 19px;
	margin-top: 27px;
	.list-group {
	    padding: 0;
	}
    }
}

.library-view {
    margin-top: 61px;
}
.sidebar-content {
    background-color: #f4f8f9;
    padding: 0 30px 0 30px;
    .group-title {
	font-size: 34px;
	text-align: left;
	color: #686868;
	padding-left: 20px;
    }

    .group-size {
	font-size: 17px;
	line-height: 1.59;
	letter-spacing: 0.2px;
	text-align: left;
	color: #20a0a7;
	padding-left: 20px;
    }
    .group-hr {
	margin-left: 55px;
	width: 896px;
    }
}

.widgetbrowserheader {

    custom-select {
	div.custom-select {
	    height: 25px;
	    .btn.default-button {
		min-height: 35px;
		height: 35px;
	    }
	}

	.seleted-options {
	    padding: 3px 35px;
	    font-size: 12px;
	    margin: 0;
	}	
    }
}

.cms-widget-variant-page{
    min-height: 550px;
    .cms-widget-home-container{
        // position: relative;
    }

  
    .widget-variant-form{
        display: table;
        width: 100%;
        .form-field-area{
            display: table-cell;
            width: 99%;
            .form-group{
                width: 32%;
                padding-right: 1%;
                float: left;
                label{
                    display: inline-block;
                } 
            }
        }
        .action-group{
            display: table-cell;
            width: 1%;
            vertical-align: middle;
            text-align: center;
        }
    }
    .frame-cntr{
        position: relative;
        .widget-frame{
            // position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            min-height: 600px;
            padding: 15px 0% 80px;
        }
    }

    .row.library-view {
	background-color: rgb(244, 248, 249);	
	border-top: 1px solid #dae2e4;
    }

    .cms-page-title {
	// background-color: #f4f8f9;
	margin-bottom: 10px;
	border-bottom: none;
    }
    .controls {
        padding-right: 190px;
    }
} 
