.cms-pages-preview-page .cms-widget-preview-page{  
    @include leftSubDropdownNav(); 
    .nav-dropdown-view{
        & > li{
            & > a{
                padding: $space-md;
                font-size: $text-font-size-default;
                border-top: 0;
                position: relative;
                &::after {
                    content: "\203A";
                    color: #c0c0c0;
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 2px;
                    font-size: $side-sub-navbar-font-icon-size-default;
                }
            }
            &.open{
                & >	a{
                        color: $text-color-white;
                    }	
            }
            .dropdown-menu{
                max-height: 300px;
                overflow: auto;
                padding: 10px;
                & > li{
                    margin: 5px;
                }
                h6{
                    border-bottom: 1px solid $border-color-default;
                    margin: 5px 0px 10px;
                }
                figure{
                    width: 100%;
                }
            }
        }
        .list-views{
            &:after{
                display: table;
                clear: both;
            }
            .list-item-view{
                margin-bottom: 8px;
                width: 50%;
                float: left;
                figure{
                    border: 2px solid transparent;	
                }
                figcaption{
                    visibility: hidden;
                    padding-top: 5px;
                }
                &:hover{
                    figure{
                        border: 2px solid $brand-color;
                    }
                    figcaption{
                        visibility: visible;
                        color: $text-color-heading;
                    }
                }
               
            }
            &.view-count-1{
                .list-item-view{
                    &.view-1{
                        width: 100%;
                    }
                }
            }
            &.view-count-2{
                .list-item-view{
                    &.view-1,
                    &.view-2{
                        width: 100%;
                    }
                }
            }
            &.view-count-3{
                .list-item-view{
                    .view-3{
                        width: 100%;
                    }
                }
            }
            &.view-count-5{
                .list-item-view{
                    &.view-1{
                        width: 100%;
                    }
                }
            }
        }
    }
    .side-sub-menu-child{
        left: 0;
        width: $widget-side-submenu-width; 
        top: $site-top-navbar-element-min-height;
        color: #65686f;
        position: fixed;
        bottom: 40px;
        z-index: 3;
        @include transition(all 0.5s ease-in);
        @include transform(translate3d(-100%,0,0));
        background-color: $side-navbar-link-selected-bg-color;
        @include opacity(0);
        .search-input{
            margin: 2% 4%;
            position: relative;
            .icon{
                position: absolute;
                top: 8px;
                right: 8px;
                color: $brand-color-primary;
            }
        }
        .dropdown-menu{
            display: block;
        }
        .delete-group-panel{
            li{
                pointer-events: none;
            }
        }
        &.open{
            @include transition(all 0.5s ease-in);
            @include transform(translate3d(0,0,0));
            left: $side-sub-child-navbar-left - 160;
            overflow: auto;
            height: calc(100vh - #{$site-top-navbar-element-min-height});
            @include opacity(1);
            .dropdown-menu{
                top: auto;
                @include borderRadius(0);
                margin: 0;
                top: auto;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                width: 100%;
                h6{
                    color: #fff;
                    border-bottom: 1px solid $side-sub-navbar-heading-border-color;
                    font-size: $text-font-size-16;
                    padding: $space-md+2 $space-lg+4;
                    margin-bottom: $space-sm;
                    margin-top: 10px;
                    span{
                        font-size: $text-font-size-15;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
                & > li{
                    margin: 25px $space-md;
                    background-color: $side-sub-navbar-bg-color-one;
                    &:last-child {
                        margin-bottom: 85px;
                    }
                }
                .list-views .list-item-view{
                    padding: $space-md+3;
                    vertical-align: middle;
                    text-align: center;
                    display: table;
                    height: 100px;
                    width: 100%;
                    &:active{
                        border: 1px solid $brand-color;
                    }
                }
                figure{
                    display: inline-block;
                    img{
                        max-height: inherit;
                    }
                }
                figcaption{
                    color: $text-color-light;
                    font-size: $text-font-size-small;
                    line-height: 1.2;
                    text-align: left;
                    padding-top: $space-lg;
                    text-transform: capitalize;
                }
            }
        }
    
    }
}

.cms-pages-preview-page.cms-widgets-mode{
    .icon-toggle{
        border-bottom: 1px solid $side-sub-navbar-heading-border-color;
        background-color: transparent;
        width: auto;
        height: 43px;
        margin: 8px 12px 19px 12px;
        .title{
            color: $widget-heading-color;
            margin-bottom: 0;
            font-size: $text-font-size-16;
            margin-top: 10px;
            padding-left: 0;
            font-weight: bold;
        }
    }
    .side-sub-menu{
        -ms-flex: 0 0 $site-widget-min-width;
        -webkit-flex: 0 0 $site-widget-min-width;
        flex: 0 0 $site-widget-min-width;
        max-width: $site-widget-min-width;
        padding-left: 15px;
        padding-top: 10px;
    }
    .preview-area{
        flex: 0 0 calc(100% - #{$site-widget-min-width});
        -webkit-flex: 0 0 calc(100% - #{$site-widget-min-width});
        -ms-flex: 0 0 calc(100% - #{$site-widget-min-width});
    }
    &.disable-left-nav{
		.side-sub-menu{
			flex: 0 0 0;
			max-width: 0;
            @include transition(0.25s ease);
            padding: 0;
		}
		.preview-area{
			flex: 0 0 100%;
			-webkit-flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			max-width: 100%;
        }
    }

    // Hide img on drag in progress

    .drag-progress{
        @include opacity(0);
    }
}
.dropup .caret {
    transform: rotate(90deg);
}