.configure-master-job-fields {
  .form-group {
    background-color: transparent;
  }

  .form-group.edit-mode {
    .edit-button {
      right: 60px;
    }
    .remove-button {
      right: 104px;
    }

    .master-jobs-input-fields {
      .form-control {
        background-color: #F1F1F1;
      }

      &.active {
        .form-control {
          background-color: #ffffff;
        }
      }
    }
  }

  .cms-grid-row:hover,
  .cms-grid-row:hover .edit-mode span {
    display: block !important;
  }

  .page-nav {
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    .page-index-info,
    .pagination {
      float: left;
    }

    .page-index-info {
      padding-top: $space-sm;
      padding-right: $space-lg;
    }

    .pagination {
      margin: 0;

      & > .active > a,
      & > .active > a:focus,
      & > .active > a:hover {
        background-color: $brand-color;
        border-color: $brand-color-primary;
      }
    }
  }
}

.configure-master-job-actions {
  .page-nav {
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    .page-index-info,
    .pagination {
      float: left;
    }

    .page-index-info {
      padding-top: $space-sm;
      padding-right: $space-lg;
    }

    .pagination {
      margin: 0;

      & > .active > a,
      & > .active > a:focus,
      & > .active > a:hover {
        background-color: $brand-color;
        border-color: $brand-color-primary;
      }
    }
  }

  .form-group {
    background-color: transparent;
  }

  .form-group.edit-mode {
    .edit-button {
      right: 60px;
    }
    .remove-button {
      right: 104px;
    }
    .master-jobs-input-fields {
      .form-control {
        background-color: #F1F1F1;
      }

      &.active {
        .form-control {
          background-color: #ffffff;
        }
      }
    }
  }

  .cms-grid-row:hover,
  .cms-grid-row:hover .edit-mode span {
    display: block !important;
  }
}
