.cms-gdpr-add{
    .btn {
        text-align : left;
    }
    .btn.white {
        background-color: white;
        font-size: 23px;
    }
    .page-block {
        padding-top: 23px;
    }
    button.btn.primary-button.m-l-12.apply-button {
        width: 200px;
        text-align: center;
    }
}