.image-gallery-delete {
  ai-dialog-body {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 4px;
  }

  ai-dialog-header {
    border-radius: 0px;
    background-color: #00a8b7;
    color: white;

    h2.modal-title {
      color: white !important;
    }
  }
}
