.cms-resource-bundle-mgr{
    
    
    //import resource bundle

    .import-resource-bundle{
        
    }
    
    
    //update resource bundle
    .update-bundle-mgr{
        .results-area{

        }
        .results-header{
            margin-top: $space-lg + $space-sm;
        }
        .results-list{
            margin-top: $space-lg + $space-sm;
        }
        .result-list-item{
            margin-bottom: $space-sm;
            &:after{
                clear: both;
                content: "";
                display: table;
            }
            .key{
                float: left;
                width: 35%;
                position: relative;
                &:after {
                    content: ":";
                    position: absolute;
                    right: -$space-sm;
                }
                span{
                    @include text-ellipsis();
                }
            }
            .value{
                float: left;
                width: 65%;
                padding-left: $space-lg + $space-lg;
                span{
                    @include text-ellipsis();
                }
            }
        }
    }
}