.task-progress-modal {
  .row {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    .li{
        font-size: 15px;
    }

    .col-sm-5 {
      .li {
        font-size: 15px;
      }
    }
  }

  .li{
    font-size: 15px;
  }
}
