$color-1: #01b2c0;
$color-2: #5a6872;
$color-3: #8c9ba5;
$color-4: #152935;
$color-5: #ffffff;
$color-6: #dfe3e6;
$color-7: #fafcfd;

$color-8: #e67b00;
$color-9: #f4731d;
$color-10: #8d1f70;
$color-11: #3f79bc;
$color-12: #00b88b;
$color-13: #b0e8ed;
$color-7: #fafcfd;
$color-9: #6d7a82;
$color-17: #6d7a82;
$neutral-400: #464f5e; //used for text/icon hover
$blue-300: #2927b2;
$blue-100: #1c1876;
$white: #ffff;
$neutral-75: #d1d5dc; //used for stroke,icon,buttons(disabled)
$blue-200: #4d3ee0;
$neutral-50: #e8eaee;
$neutral-500: #353b46;
$neutral-300: #637085; //used for text(default),stroke(hover,selected)
$black: #000000;
$color-17: #6d7a82;
$color-18: #464f5e;
$color-19: #637085;
$color-20: #353b46;
$color-21: #dadada;
$color-22: #eaecee;
$color-23: #d8d0d0;
$color-24: #008893;
$color-25: #777;
$color-26: #25b2c0;
$color-27: #0c5460;
$color-28: #e0e7ff;
$color-29: #D8F4F2;
$color-30: #8c9ba508;
$color-33: #43515c;
$color-34: #f5f7fa;
$color-36: #F4F6FA;
$color-37: #eae8fb;
$color-30: #eae8fb;
$color-31-SIDEBAR: #e5e7ea;
$color-32-BG:#00000080;
$color-14: rgba(61, 112, 178, 0.1);
$color-15: rgba(255, 171, 0, 0.08);
$color-16: rgba(18, 26, 28, 0.07);
$color-24: rgba(1, 178, 192, 0.06);
$color-31: rgba(41,171,185,.06);
$color-32: rgba(41, 171, 185, 0.06);
$color-31: rgba(41,171,185,.06);
$color-32: rgba(41, 171, 185, 0.06);
$color-33-ERROR: rgb(196, 15, 36);
$color-47-WARNING: #FBEDD5;
$color-48:#BA4800;
$color-49: #1529350A;
$color-50:  #00838F1A;
$color-51: #36909a;
$color-52:#0a58ca;
$color-53:#AEB5C2;
$color-54:#3498db;

$color-40:rgba(61, 112, 178, .1);
$color-41:#FFAB0014;
$color-42: rgba(0, 131, 143, 1);
$color-43:#00a8b6;
$color-44:#9383fe;
$color-45: #353b46cc;
$color-46: #353b464d;
$color-47:#DE350B;
$primary-color: #3c6d68;
$secondary-color: #29abb9;
$tertiary-color: #f6f7f9;
$text-primary-color: #5a6872;
$text-secondary-color: #8c9ba5;
$side-bar-background: #f8f9fb;


$font-family: "Poppins";

$font-size-1: 24px;
$font-size-2: 16px;
$font-size-3: 14px;
$font-size-4: 12px;
$font-size-5: 13px;
$font-size-6: 18px;
$font-size-7: 20px;


$border-color-1: #e9ebed;
$border-color-2: #dee2e6;

$box-shadow: rgba(173, 175, 179, 0.25);
$box-shadow1:rgba(0, 0, 0, 0.12);
$box-shadow2:rgba(53, 59, 70, 0.40), 0px 0px 4px 0px rgba(53, 59, 70, 0.30);
$box-shadow3: rgba(102, 113, 123, 0.25);
$box-shadow4: rgba(102, 113, 123, 0.21);
$box-shadow5: rgba(245, 247, 250, 0.5);


//background colors


//borders
$sidebar-border:#d1d5dc;

//font colors
$side-bar-main: #464f5e;
$sidebar-bg: #f5f5f5;
$font-Poppins: "Poppins";
$font-family: "Poppins";

