.cms-side-navbar{
	background-color: $side-navbar-bg-color;
	border-right: $side-navbar-border-color;
	z-index: $left-nav-zindex;
    max-width: $side-navbar-width;
    overflow-y: auto;
    position: fixed;
    top: $site-top-navbar-element-min-height;
	height: calc(100vh - #{$site-top-navbar-element-min-height});
	flex: 0 0 100px;
	-webkit-flex: 0 0 100px;
	-ms-flex: 0 0 100px;
	& > ul{		
		& > li{
			& > a{
				color: $side-navbar-text-color;
				display: block;
				text-align: center;
				font-size: $side-navbar-text-font-size-default;
				padding: $space-xs*5 0;
				min-width: $side-navbar-width;
				text-transform: capitalize;
				word-wrap: break-word;
				position: relative;
				& > .icon{
					margin-bottom: 10px;
					font-size: $side-sub-navbar-font-icon-size-default;
					line-height: normal;
				}
				& > svg {
					width: 23px;
					height: 23px;
					fill: $side-navbar-text-color;
				}
			}	
			&:hover,
			&:active,
			&:focus{
				& > a{
					color: $side-navbar-hover-text-color;
				}
				svg {
					fill: $side-navbar-hover-text-color;
				}
			}	
			&.active{
				& > a::after {
					content: "";
					background: $bg-color-special-white;
					height: 24px;
					width: 3px;
					position: absolute;
					display: block;
					top: 23px;
				}
				&.contentIcon > a::after {
					top: 20px;
				}
			}
			&.contentIcon > a > svg {
				transform: scale(1.8);
			}
			&.menuIcon > a > img {
				position: relative;
				top: -9px;
			}
		}
	}
}